{{ header }}
<div class="container">
<div class="col-sm-12 content-box-cs">
<div class="breadcrumbs-box">
	<ul class="breadcrumb">
		{% for i,breadcrumb in breadcrumbs %}
			{% if (i+1 < breadcrumbs|length) %}
				<li><a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
			{% else %}
				<li><span>{{ breadcrumb.text }}</span></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
  <div class="row">
	{{ column_left }}
	{% if (column_left and column_right) %}
	{% set class = 'col-sm-8 col-md-6' %}
	{% set cols_class = 'col-lg-6 col-md-6 col-sm-12' %}
	{% elseif (column_left or column_right) %}
	{% set class = 'col-sm-8 col-md-9' %}
	{% set cols_class = 'col-lg-4 col-md-4 col-sm-6' %}
	{% else %}
	{% set class = 'col-sm-12' %}
	{% set cols_class = 'col-lg-3 col-md-3 col-sm-6' %}
	{% endif %}
	<div id="content" class="{{ class }}">
  	{{ content_top }}
	<h1>{{ heading_title }}</h1>
		{% if (thumb or description) %}
		  <div class="category_description news">
			{% if (thumb) %}
			<div class="psfl-l"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
			{% endif %}
			{% if (description) %}
				<div>{{ description }}</div>
			{% endif %}
		  </div>
		{% endif %}
	  {% if (categories and news_show_subcategories is defined and (news_show_subcategories == 1) ) %}
	  <div class="row">
		  {% for category in categories %}
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
				<div class="thumbnail subcategory">
					<a href="{{ category['href'] }}">
						{% if (news_show_subcategories_image == 1) %}<div><img class="img-responsive" alt="{{ category['name'] }}" src="{{ category['thumb'] }}"></div>{% endif %}
						<div class="name-wrapper">
							<div class="display-table">
								<div class="display-table-cell">{{ category['name'] }}</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		  {% endfor %}
	  </div>
	  {% endif %}
	  {% if (articles) %}
	  	<div class="view-box">
		<div class="row">
			<div class="col-xs-12 col-sm-12 localstorage dflex align-items-center justify-content-end">
				<div class="ls-limit-sorts dflex">
					<div class="btn-group mr-10">
					  <ul class="dropdown-menu ls-dropdown dropdown-menu-right">
						{% set mmr_limit_active = '' %}
						{% for limits in limits %}
						{% if (limits.value == limit) %}
						<li class="active"><a href="{{ limits.href }}" rel="nofollow">{{ limits.text }}</a></li>
						{% set mmr_limit_active = limits.text %}
						{% else %}
						<li><a href="{{ limits.href }}" rel="nofollow">{{ limits.text }}</a></li>
						{% endif %}
						{% endfor %}
					  </ul>
					  <button type="button" class="btn btn-sort-limit dropdown-toggle" data-toggle="dropdown" title="{{ text_limit }}">
						{{ mmr_limit_active is defined ? mmr_limit_active : limits['text'] }}
						<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"></path></svg>
					  </button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-sort-limit dropdown-toggle" data-toggle="dropdown">
							{% for sort_active in sorts %}{% if (sort_active['value'] == sort ~ '-' ~ order) %}{{ sort_active['text'] }}{% endif %}{% endfor %}
							<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"></path></svg>
						</button>
						<ul class="dropdown-menu dropdown-menu-right ls-dropdown">
							{% for sorts in sorts %}
								{% if (sorts['value'] == sort ~ '-' ~ order) %}
									<li class="active"><button class="btn-sort-link" onclick="location.href='{{ sorts['href'] }}'">{{ sorts['text'] }}</button></li>
								{% else %}
									<li><button class="btn-sort-link" onclick="location.href='{{ sorts['href'] }}'">{{ sorts['text'] }}</button></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
	<div class="row">
		{% for article in articles %}
			<div class="articles-list col-xs-12">
				<div class="product-thumb">
				<div class="article-image"><img class="img-responsive" alt="{{ article['name'] }}" src="{{ article['image'] }}"></div>
				<div class="caption">
					<div class="article-name"><a href="{{ article['href'] }}">{{ article['name'] }}</a></div>
					<div class="article-date-viewed dflex">
						<div class="article-date">
							<span class="icon-date-added">
								<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.49999 15.5833C12.412 15.5833 15.5833 12.412 15.5833 8.49996C15.5833 4.58794 12.412 1.41663 8.49999 1.41663C4.58797 1.41663 1.41666 4.58794 1.41666 8.49996C1.41666 12.412 4.58797 15.5833 8.49999 15.5833Z" stroke="black" stroke-width="1.5" stroke-linejoin="bevel"/>
								<path d="M8.5 4.25V8.5L11.3333 9.91667" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/>
								</svg>
							</span>
							<span class="text-date-added">{{ article['date_added'] }}</span>
						</div>
						<div class="art-viewed">
							<span class="icon-viewed">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="none" viewBox="0 0 18 16">
								  <path fill="#000" fill-rule="evenodd" d="M2.524 8a12.368 12.368 0 001.607 2.154c1.186 1.266 2.835 2.43 4.869 2.43s3.682-1.164 4.87-2.43A12.365 12.365 0 0015.476 8a12.363 12.363 0 00-1.607-2.154C12.683 4.58 11.035 3.416 9 3.416S5.317 4.58 4.13 5.847A12.366 12.366 0 002.524 8zm13.81 0l.67-.336-.001-.002L17 7.657l-.008-.015a12.392 12.392 0 00-.519-.882 13.868 13.868 0 00-1.51-1.94C13.652 3.42 11.634 1.917 9 1.917S4.35 3.42 3.036 4.82a13.866 13.866 0 00-1.9 2.583 8.3 8.3 0 00-.129.239L1 7.657l-.003.005v.002l.67.336-.671-.335a.75.75 0 000 .67L1.666 8l-.67.336.001.002.003.005.007.015a4.843 4.843 0 00.13.239 13.868 13.868 0 001.9 2.583c1.312 1.4 3.33 2.903 5.963 2.903s4.65-1.503 5.964-2.903a13.87 13.87 0 001.9-2.583 8.374 8.374 0 00.128-.239L17 8.343l.003-.005v-.002L16.334 8zm0 0l.67.335a.75.75 0 000-.67l-.67.335z" clip-rule="evenodd"/>
								  <path fill="#000" fill-rule="evenodd" d="M9 6.75a1.25 1.25 0 100 2.5 1.25 1.25 0 000-2.5zM6.25 8a2.75 2.75 0 115.5 0 2.75 2.75 0 01-5.5 0z" clip-rule="evenodd"/>
								</svg>
							</span>
							<span class="text-viewed">{{ article['viewed'] }}</span>
						</div>
					</div>
					<div class="rating">
						<span class="rating-box">
							{% set i = 1 %}{% for i in i..5 %}
								{% if (article['rating'] < i) %}
									<span class="product-rating-star">
										<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#EFEFEF"/>
										</svg>
									</span>
								{% else %}
									<span class="product-rating-star">
										<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#E5DB77"/>
										</svg>
									</span>
								{% endif %}
							{% endfor %}
						{% if (all_rating_reviews_status and article_review_status) %}
							<span class="quantity-reviews"><a data-placement="right"  data-toggle="tooltip" title="{{ text_reviews_title }}" href="{{ article['href'] }}#article-review-box">{{ article['reviews'] }}</a></span>
						{% endif %}
						</span>
					</div>
					<div class="article-description">{{ article['description'] }}</div>
				</div>
				</div>
			</div>
		{% endfor %}
	  </div>
	  <div class="row">
		<div class="col-sm-12 text-center">{{ pagination }}</div>
	  </div>
	  {% endif %}

	  {% if (not categories and not articles) %}
	  <p>{{ text_empty }}</p>
	  <div class="buttons">
		<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
	  </div>
	  {% endif %}
	  {{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
</div>
{{ footer }}