{{ header }}
<div class="container">
  <ul class="breadcrumb">
	 {% for i,breadcrumb in breadcrumbs %}
		{% if (i+1 < breadcrumbs|length) %}<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li> {% else %}<li>{{ breadcrumb.text }}</li>{% endif %}
	{% endfor %}
  </ul>
  {% if (success) %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
	<button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
	{% if (column_left and column_right) %}
	{% set class = 'col-sm-6' %}
	{% elseif (column_left or column_right) %}
	{% set class = 'col-sm-9' %}
	{% else %}
	{% set class = 'col-sm-12' %}
	{% endif %}
	<div id="content" class="{{ class }}">{{ content_top }}
	  <h2>{{ heading_title }}</h2>
	  {% if (products) %}
	  <div class="table-responsive">
		<table class="table ls-table">
		  <thead>
			<tr>
			  <td class="text-center"><span class="hidden-xs">{{ column_image }}</span></td>
			  <td class="text-left">{{ column_name }}</td>
			  <td class="text-left">{{ column_model }}</td>
			  <td class="text-left">{{ column_stock }}</td>
			  <td class="text-right">{{ column_price }}</td>
			  <td class="text-center"></td>
			</tr>
		  </thead>
		  <tbody>
			{% for product in products %}
			<tr>
			  <td class="text-center mw-70">{% if (product.thumb) %}
				<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
				{% endif %}</td>
			  <td class="text-left"><a class="prod-name" href="{{ product.href }}">{{ product.name }}</a></td>
			  <td class="text-left">{{ product.model }}</td>
			  <td class="text-left">
			  	{% if (product.quantity > 0) %}
					<div class="stock-status instock"><svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.68141 3.6147C7.89421 3.43872 8.20938 3.46857 8.38537 3.68137C8.54179 3.87052 8.53559 4.14057 8.38283 4.32184L8.3187 4.38532L4.40526 7.62168L2.72378 6.50696C2.49362 6.35438 2.43073 6.04411 2.58331 5.81395C2.71894 5.60936 2.97916 5.53694 3.19697 5.63054L3.27633 5.67348L4.33905 6.37801L7.68141 3.6147Z" fill="#00BC52"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 8.53757 2.46243 11 5.5 11C8.53757 11 11 8.53757 11 5.5ZM1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 7.98528 7.98528 10 5.5 10C3.01472 10 1 7.98528 1 5.5Z" fill="#00BC52"></path></svg>{{ product.stock }}</div>
			  	{% else %}
			  		<div class="stock-status outofstock">{{ product.stock }}</div>
			  	{% endif %}
			  </td>
			  <td class="text-right">
				{% if (product.price) %}
				<div class="price">
					{% if (not product.special) %}
					<span>{{ product.price }}</span>
					{% else %}
					<span class="price-old">{{ product.price }}</span>
					<span class="price-new">{{ product.special }}</span>
					{% endif %}
				</div>
				{% endif %}
			  </td>
			<td class="text-right">
			  	<button type="button" onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-general"><span class="icon-cart-add"></span></button>
				<a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-remove"><i class="fa fa-trash-o"></i></a>
			</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	  {% else %}
	  <p>{{ text_empty }}</p>
	  {% endif %}
	  <div class="buttons clearfix">
		<div class="pull-left"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
	  </div>
	  {{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
{{ footer }}