<div class="shopping-cart {% if (type_shop_cart is defined and (type_shop_cart == '1')) %}type_cart_2 pull-right{% endif %}">
<div id="cart" class="btn-group btn-block">
	<button type="button" {% if (on_off_shopping_cart_click == '1') %} onclick="fastorder_open_cart();" {% else %}data-toggle="dropdown"{% endif %} class="dflex align-items-center btn dropdown-toggle">
	<svg class="shop-bag-svg" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 1C0.25 0.585786 0.585786 0.25 1 0.25H2.38802C3.13452 0.25 3.79883 0.723534 4.04232 1.42921L7.07629 10.2224C7.11107 10.3232 7.20598 10.3908 7.31262 10.3908H17.5808C17.6999 10.3908 17.8024 10.3069 17.8259 10.1902L19.0236 4.24401C19.0548 4.08922 18.9364 3.94465 18.7785 3.94465H8.17493C7.76071 3.94465 7.42493 3.60886 7.42493 3.19465C7.42493 2.78044 7.76071 2.44465 8.17493 2.44465H18.7785C19.8838 2.44465 20.7123 3.45665 20.494 4.54019L19.2964 10.4864C19.1319 11.3033 18.4141 11.8908 17.5808 11.8908H7.31262C6.56612 11.8908 5.9018 11.4173 5.65832 10.7116L2.62435 1.91846C2.58957 1.81765 2.49466 1.75 2.38802 1.75H1C0.585786 1.75 0.25 1.41421 0.25 1Z" fill="black"/>
	<path d="M9.462 16.6963C9.462 17.7464 8.61071 18.5977 7.56059 18.5977C6.51047 18.5977 5.65918 17.7464 5.65918 16.6963C5.65918 15.6462 6.51047 14.7949 7.56059 14.7949C8.61071 14.7949 9.462 15.6462 9.462 16.6963Z" fill="black"/>
	<path d="M19.6026 16.6963C19.6026 17.7464 18.7513 18.5977 17.7012 18.5977C16.6511 18.5977 15.7998 17.7464 15.7998 16.6963C15.7998 15.6462 16.6511 14.7949 17.7012 14.7949C18.7513 14.7949 19.6026 15.6462 19.6026 16.6963Z" fill="black"/>
	</svg>
	<span class="cart-total">{{ text_items }}</span>
	<svg class="cart-icon-arrow" xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
		<path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"/>
	</svg>
	{% if (show_text_after_icon is defined and (show_text_after_icon == 1)) %}
		<span class="text-a-icon-cart visible-xs visible-sm">{{ text_ai_cart }}</span>
	{% endif %}
	</button>
	<ul class="dropdown-menu pull-right"  >
		{% if (products or vouchers) %}
		<li>
			<table class="table table-striped">
				{% for product in products %}
				<tr>
					<td class="text-left">{% if (product['thumb']) %}
						<a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" /></a>
						{% endif %}</td>
					<td class="text-left"><a href="{{ product['href'] }}">{{ product['name'] }}</a>
						{% if (product['option']) %}
						{% for option in product['option'] %}
						<br />
						- <small>{{ option['name'] }} {{ option['value'] }}</small>
						{% endfor %}
						{% endif %}
						{% if (product['recurring']) %}
						<br />
						- <small>{{ text_recurring }} {{ product['recurring'] }}</small>
						{% endif %}</td>
					 <td class="text-right"><div class="cart-quantity-header">x {{ product['quantity'] }}</div></td>
					<td class="text-right">{{ product['total'] }}</td>
					<td class="text-center"><button type="button" onclick="cart.remove('{{ product['cart_id'] }}');" title="{{ button_remove }}" class="btn btn-link-delete"><i class="fa fa-trash-o"></i></button></td>
				</tr>
				{% endfor %}
				{% for voucher in vouchers %}
				<tr>
					<td class="text-center"></td>
					<td class="text-left">{{ voucher['description'] }}</td>
					<td class="text-right">x&nbsp;1</td>
					<td class="text-right">{{ voucher['amount'] }}</td>
					<td class="text-right text-danger"><button type="button" onclick="voucher.remove('{{ voucher['key'] }}');" title="{{ button_remove }}" class="btn btn-remove"><i class="fa fa-trash-o"></i></button></td>
				</tr>
				{% endfor %}
			</table>
		</li>
		<li>
			<div>
				<table class="table">
					{% for total in totals %}
					<tr>
						<td class="text-right total-title">{{ total['title'] }}</td>
						<td class="text-right total-text">{{ total['text'] }}</td>
					</tr>
					{% endfor %}
				</table>
				<p class="text-left"><a class="btn btn-shopping" href="{{ cart }}">{{ text_cart }}</a><a class="btn btn-checkout" href="{{ checkout }}">{{ text_checkout }}</a></p>
			</div>
		</li>
		{% else %}
		<li>
			<p class="text-center">{{ text_empty }}</p>
		</li>
		{% endif %}
	</ul>
</div>
</div>
