<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if (description) %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if (keywords) %}
<meta name="keywords" content= "{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ home_page }}" />
<meta property="og:image" content="{{ og_image is not empty ? og_image : logo }}" />
<meta property="og:site_name" content="{{ name }}" />
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<style>
{% if (hide_text_addtocart is defined and (hide_text_addtocart == '1')) %}
@media (min-width: 600px) {
	.product-grid .product-thumb .actions div.cart .btn-general,
	.container-module .product-thumb .actions div.cart .btn-general {padding: 5px 7px;}
	.product-grid .product-thumb .actions div.cart .btn-general span.text-cart-add,
	.container-module .product-thumb .actions div.cart .btn-general span.text-cart-add {display: none;}
}
{% endif %}
{% if (bg_product_image is defined and (bg_product_image == '1')) %}
.product-thumb .image a:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,26,52,.015);
	border-radius: 7px 7px 0px 0px;
}
.position-no-owl .container-module .product-thumb .image a:after {
	background-color: transparent;
}
{% if (ls_type_btn is defined and (ls_type_btn == 1)) %}
.product-thumb .btn-quickview,
.product-thumb .btn-fastorder {
	box-shadow:1px 1px 16px -3px rgba(0, 0, 0, 0.16);
	background: #fff;
}
@media (max-width: 992px) {
	.product-grid .product-thumb .actions .addit-action > div > .btn, .container-module .product-thumb .actions .addit-action > div > .btn {
		background: #fff;
		box-shadow:1px 1px 16px -3px rgba(0, 0, 0, 0.16);
	}
}
{% endif %}
{% endif %}
@media (min-width: 992px) {
{% if (ls_type_btn is defined and (ls_type_btn == 1)) %}
.quickview + div.quick-order {
	margin-bottom: 75px;
}
{% endif %}
{% if (ls_type_btn is defined and (ls_type_btn == 2) or (ls_type_btn == 3)) %}
	.product-grid .product-thumb .actions div.addit-action,
	.container-module .product-thumb .actions div.addit-action {
		position: absolute;
		display: flex;
		margin-bottom: 30px;
		transition: all .15s ease 0s;
		opacity: 0;
	}
{% if (ls_type_btn == 2) %}
	.product-grid .product-thumb .actions div.addit-action,
	.container-module .product-thumb .actions div.addit-action {
		bottom:100%;
		right:-65px;
		flex-direction: column;
	}
	.product-grid .product-thumb .actions div.addit-action .quick-order,
	.product-grid .product-thumb .actions div.addit-action .compare,
	.container-module .product-thumb .actions div.addit-action .quick-order,
	.container-module .product-thumb .actions div.addit-action .compare{
		margin-top: 10px;
	}
	.product-grid .product-thumb .actions div.addit-action .wishlist,
	.container-module .product-thumb .actions div.addit-action .wishlist{
		margin-left: 0px;
		margin-top: 10px;
	}
	.product-grid .product-thumb:hover .actions div.addit-action,
	.container-module .product-thumb:hover .actions div.addit-action {
		right:15px;
		opacity: 1;
	}
{% endif %}
{% if (ls_type_btn == 3) %}
	.product-grid .product-thumb .actions div.addit-action,
	.container-module .product-thumb .actions div.addit-action {
		bottom:88%;
		left: 0;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
	.product-grid .product-thumb .actions div.addit-action > div,
	.container-module .product-thumb .actions div.addit-action > div{
		margin-left: 5px;
		margin-right: 5px;
	}
	.product-grid .product-thumb:hover .actions div.addit-action,
	.container-module .product-thumb:hover .actions div.addit-action {
		bottom:100%;
		opacity: 1;
	}
{% endif %}
.product-grid .product-thumb .actions div.addit-action .quickview,
.product-grid .product-thumb .actions div.addit-action .quick-order,
.container-module .product-thumb .actions div.addit-action .quickview,
.container-module .product-thumb .actions div.addit-action .quick-order {
	position: relative;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	visibility: visible;
	text-align: center;
	margin-bottom: 0px;
}
.product-grid .product-thumb .price,
.container-module .product-thumb .price {
	margin-bottom: 	0px;
}
.product-grid  .product-thumb .actions,
.container-module .product-thumb .actions {
	width: auto;
	margin-left: auto;
}
.product-grid  .product-thumb .quantity_plus_minus,
.container-module .product-thumb .quantity_plus_minus {
	right: 15px;
	bottom:48px;
	position: absolute;
}
.product-grid .product-description,
.container-module .product-description {
	margin-bottom: 25px !important;
}
{% if (config_additional_settings_luxshop.quantity_btn_module is defined and (config_additional_settings_luxshop.quantity_btn_module == '1')) %}
.product-thumb .product-model,
.product-thumb .rating {
	margin-right: 34px;
}
{% endif %}
}
{% if (bg_product_image is defined and (bg_product_image == '1')) %}
.product-thumb .btn-quickview,
.product-thumb .btn-fastorder,
.product-thumb .btn-compare,
.product-thumb .btn-wishlist {
	box-shadow:1px 1px 16px -3px rgba(0, 0, 0, 0.16);
	background: #ffffff;
}
{% endif %}
{% endif %}
</style>
{{ css_luxshop }}
{% if (minifycss) %}
{% for style in styles %}
<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% endif %}
{% if (config_ns_themes_custom_bg_mode) %}
{% if (config_themes_custom_bg_img_preview) %}
<style>body {background:url('image/{{ config_themes_custom_bg_img_preview }}'){% if (config_themes_custom_bg_repeat) %} {{ config_themes_custom_bg_repeat }} {% endif %} {% if (config_themes_custom_bg_attachment) %} {{ config_themes_custom_bg_attachment }} {% endif %} {% if (config_themes_custom_bg_position) %} {{ config_themes_custom_bg_position }} {% endif %};}</style>
{% endif %}
{% elseif (config_ns_themes_custom_bg_mode_color != '') %}
<style>body {background-color: {{ config_ns_themes_custom_bg_mode_color }};}</style>
{% endif %}
{% if (config_on_off_shopping_cart_hover == '1') %}
<style>
@media (min-width: 992px){
#cart:hover .dropdown-menu{
	display:block;
}
#cart:hover  .dropdown-menu:before{
	content: "";
	position: absolute;
	top: -7px;
	width: 100%;
	height: 9px;
	background: transparent;
}
#cart:hover .car-down{
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
}
</style>
{% endif %}
{% if (nst_data.header_bg_mode is defined and (nst_data.header_bg_mode == '1')) %}
	{% if (nst_data.header_bg_img) %}
		<style>header {background:url('image/{{ nst_data.header_bg_img }}'){% if (nst_data.header_bg_repeat) %} {{ nst_data.header_bg_repeat }} {% endif %} {% if (nst_data.header_bg_position) %} {{ nst_data.header_bg_position }} {% endif %};}</style>
	{% endif %}
{% elseif (nst_data.header_bg_mode is defined and (nst_data.header_bg_mode == '0')) %}
	{% if (nst_data.header_bg_mode_color != '') %}
		<style>header {background-color: {{ nst_data.header_bg_mode_color }};}</style>
	{% endif %}
{% endif %}
{% if (nst_data.defaut_display_view is defined) %}
<script>
if (localStorage.getItem('display') === null) {
localStorage.setItem('display', '{{ nst_data.defaut_display_view }}');
}
</script>
{% endif %}
{% if (site_screen_width is defined and (site_screen_width == 1)) %}
<style>.header_v_3 .header_dopmenu_doptext {display: none;}</style>
{% endif %}
{% if (site_screen_width is defined and (site_screen_width == 2)) %}
<style>
@media (min-width: 1330px){
	.container{width:1300px;}
	.breadcrumb.col-lg-offset-3, .breadcrumb.col-md-offset-3 {margin-left: 20.4%;}
	.col-md-3.menu-box,
	.menu_fix.col-md-3,
	.container .sw-20,
	#column-left.col-md-3,#column-right.col-md-3{ width:22%;}
	.container .sw-80,
	.dop-right-menu,
	#content.col-md-9 {width: 78%;}
	#menu-vertical #menu-vertical-list .box-col-3 {
		width: calc(1280px - 100%);
	}
	header .type-h-3.logo-top {
		width:16.66666667%;
	}
}
</style>
{% endif %}
{% if (site_screen_width is defined and (site_screen_width == 3)) %}
<style>
@media (min-width: 1500px){
	.container{width:1470px;}
	.col-md-3.menu-box,
	.menu_fix.col-md-3,
	.container .sw-20,
	#column-left.col-md-3,#column-right.col-md-3{ width:20%;}
	.container .sw-80,
	.dop-right-menu,
	#content.col-md-9 {width: 80%;}
	.col-lg-offset-3,.col-md-offset-3 {margin-left: 20.4%;}
}
</style>
{% endif %}
{% if (nst_data.nsfullwidth is defined and (nst_data.nsfullwidth == 1)) %}
<style>
@media (max-width: 520px) {
.product-slider .owl-item .item {margin:0px 5px;}
.product-slider {margin:0px -5px;}
}
@media (min-width: 1360px){
.container { width: calc(100% - 20px);}
header .col-md-3.logo-top {width:20%;}
header .col-md-3.menu-box {width:20%;}
header .col-md-9.hidden-xs.hidden-sm.clearfix {width:80%;}
header .phone-box.col-md-3.col-md-push-4 {left: 42%;}
header .phone-box.col-md-3.col-md-push-5 {left: 48%;}
header .box-search.col-md-4.col-md-pull-2 {width:42%;right:13{{ '%}' }}
header .box-search.col-md-4.col-md-pull-5 {width:42%;right:38{{ '%}' }}
header .box-search.col-md-5.col-md-pull-4 {width:48%;right:32{{ '%}' }}
header .box-search.col-md-5.col-md-pull-1 {width:48%;right:7{{ '%}' }}
header .col-md-9.col-md-push-3 {width:80%;left:20{{ '%}' }}
header .box-cart.col-md-2.col-md-push-4 {width:13%;left:42{{ '%}' }}
header .box-cart.col-md-1.col-md-push-5{width:7%;left:48{{ '%}' }}
.breadcrumb.col-lg-offset-3, .breadcrumb.col-md-offset-3 {margin-left: 20.4%;}
.container .sw-80 {width: 80%;}
.container .sw-20 {width: 20%;}
#content.col-md-9 {width: 80%;}
#column-left.col-md-3,#column-right.col-md-3{ width:20%;}

}
</style>
{% endif %}
<style>
{% if (config_change_color_icon_sticker_popular is not empty) %}
.sticker-ns.popular .fa{ color:{{ config_change_color_icon_sticker_popular }} }
{% endif %}
.sticker-ns.popular{ background: {{ config_change_background_sticker_popular }} none repeat scroll 0 0; color:{{ config_change_color_text_sticker_popular }}; }
{% if (config_change_color_icon_sticker_special is not empty) %}
.sticker-ns.special .fa{ color:{{ config_change_color_icon_sticker_special }} }
{% endif %}
.sticker-ns.special { background: {{ config_change_background_sticker_special }} none repeat scroll 0 0; color:{{ config_change_color_text_sticker_special }}; }
{% if (config_change_color_icon_sticker_topbestseller is not empty) %}
.sticker-ns.bestseller .fa{ color:{{ config_change_color_icon_sticker_topbestseller }} }
{% endif %}
.sticker-ns.bestseller { background: {{ config_change_background_sticker_topbestseller }} none repeat scroll 0 0; color:{{ config_change_color_text_sticker_topbestseller }}; }
{% if (config_change_color_icon_sticker_topbestseller is not empty) %}
.sticker-ns.newproduct .fa{ color:{{ config_change_color_icon_sticker_topbestseller }} }
{% endif %}
.sticker-ns.newproduct{ background: {{ config_change_background_sticker_newproduct }} none repeat scroll 0 0; color:{{ config_change_color_text_sticker_newproduct }}; }
{% if (ns_type_sticker is defined and (ns_type_sticker == 1)) %}.sticker-ns {float:left;}{% endif %}
{% if (special_timer_position is defined and (special_timer_position == 1) or (special_timer_position == 3)) %}
.product-thumb .action-timer {
	height: auto;
	flex-direction: column;
	justify-content: flex-end;
	bottom: 15px;
}
.product-thumb .countDays,
.product-thumb .countHours,
.product-thumb .countMinutes,
.product-thumb .countSec {
	margin:2px 0px !important;
	font-size: 11px !important;
	line-height: 12px !important;
	width: 36px !important;
	padding: 4px !important;
	height: auto;
}
.product-thumb .time_productany{
	font-size: 7.5px;
}
{% if (special_timer_position is defined and (special_timer_position == 3)) %}
	.product-thumb .action-timer {
		left:auto !important;
	}
{% endif %}
{% endif %}
</style>
<script>
var loading_masked_img = '<img src="catalog/view/theme/luxshop/image/ring-alt-1.svg" />';
var button_shopping = "{{ button_shopping }}";
var button_checkout = "{{ button_checkout }}";
var link_checkout = "{{ checkout }}";
var link_onepcheckout = "{{ onepcheckout }}";
var text_showmore = '{{ text_showmore}}';
</script>
{{ js_luxshop }}
{% if (minifyjs) %}
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
{% endif %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
{% if (hbannerpc[lang_id]['image'] is defined) %}<style>.htop-b-pc img {margin:0 auto;}</style>{% endif %}
{% if (hbannermob[lang_id]['image'] is defined and (hbannermob[lang_id]['image'] != '')) %}
<style>
.htop-b-mob img {margin:0 auto;}
.htop-b-mob.b-mob-pt{padding-top:54px;}
.htop-b-mob.b-mob-pt ~ header.pt {padding-top: 0px;}
.ft_tabs_mob .htop-b-mob.b-mob-pt {padding-top: 98px;}
</style>
{% endif %}
{% if (menu_width is defined and (menu_width == 1)) %}
<style>@media (min-width: 992px) {.pos1 .megasliderpro {margin-top: -15px;{{ '}}' }}</style>
{% endif %}
</head>
<body class="{{ class }}{% if (class_pp_tabs_fix) %} ft_tabs_mob {% if (fm_fix_bottom is defined and (fm_fix_bottom == 1)) %}tabs-bottom{% else %}tabs-top{% endif %}{% endif %}">
{% if (hbannerpc[lang_id]['image'] is defined and (hbannerpc[lang_id]['image'] != '')) %}
{% if (deviceType == 'computer') %}
<div class="htop-b-pc hidden-xs hidden-sm" {% if (nst_data['hbannerpc'][lang_id]['bg'] is defined and (nst_data['hbannerpc'][lang_id]['bg'] != '')) %}style="background:{{ nst_data['hbannerpc'][lang_id]['bg'] }}"{% endif %}>
<a href="{{ nst_data['hbannerpc'][lang_id]['link'] is not empty ? nst_data['hbannerpc'][lang_id]['link'] : 'javascript:void(0)' }}">
	<img {% if (ls_hbannerpc_width) %}width="{{ ls_hbannerpc_width }}"{% endif %}{% if (ls_hbannerpc_height) %} height="{{ ls_hbannerpc_height }}"{% endif %} src="{{ hbannerpc[lang_id]['image'] }}" alt="" class="img-responsive" />
</a>
</div>
{% endif %}
{% endif %}
{% if (hbannermob[lang_id]['image'] is defined and (hbannermob[lang_id]['image'] != '')) %}
{% if (deviceType == 'phone') %}
<div class="htop-b-mob {% if (fm_fix_bottom is defined and (fm_fix_bottom != 1)) %}b-mob-pt{% endif %} visible-xs visible-sm" {% if (nst_data['hbannermob'][lang_id]['bg'] is defined and (nst_data['hbannermob'][lang_id]['bg'] != '')) %}style="background:{{ nst_data['hbannermob'][lang_id]['bg'] }}"{% endif %}>
<a href="{{ nst_data['hbannermob'][lang_id]['link'] is not empty ? nst_data['hbannermob'][lang_id]['link'] : 'javascript:void(0)' }}">
	<img {% if (ls_hbannermob_width) %}width="{{ ls_hbannermob_width }}"{% endif %}{% if (ls_hbannermob_height) %} height="{{ ls_hbannermob_height }}"{% endif %} src="{{ hbannermob[lang_id]['image'] }}" class="img-responsive" />
</a>
</div>
{% endif %}
{% endif %}
<div id="back-top" {% if (fm_fix_bottom is defined and (fm_fix_bottom == 1)) %}class="fm-b {% if fb_widget_pos %}{{ fb_widget_pos }}{% endif %}"{% else %}class="fm-t {% if fb_widget_pos %}{{ fb_widget_pos }}{% endif %}"{% endif %}><a rel="nofollow" class="btn btn-back-top" href="javascript:void(0)"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" fill="none" viewBox="0 0 17 10"><path fill="#000" fill-rule="evenodd" d="M9.016 3.553a1.003 1.003 0 00-1.481.01L2.793 8.668a1.003 1.003 0 01-1.482.009A1.167 1.167 0 011.303 7.1l4.742-5.106c1.22-1.315 3.21-1.327 4.444-.027l4.867 5.124c.411.434.415 1.14.008 1.578a1.003 1.003 0 01-1.482.009L9.016 3.553z" clip-rule="evenodd"/></svg></a></div>
{% if (fixed_bar_footer is defined and (fixed_bar_footer == 1)) %}
<div class="fixed-goods-menu">
	<div class="fixed-goods-bar">
	{% if (show_h_wishlist is defined and (show_h_wishlist == 1)) %}
	<div class="box-wishlist">
		<a rel="nofollow" class="btn-wishlist-top" href="{{ wishlist }}" id="wishlist-total">
			<span class="wl-icon"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" fill="none" viewBox="0 0 10 13">
			<path fill="#000" fill-rule="evenodd" d="M1.5 1.5v8.974L3.613 8.44a2 2 0 012.774 0L8.5 10.474V1.5h-7zM1.4 0A1.4 1.4 0 000 1.4v10.25c0 .881 1.058 1.332 1.693.72l2.96-2.849a.5.5 0 01.694 0l2.96 2.849c.635.612 1.693.161 1.693-.72V1.4A1.4 1.4 0 008.6 0H1.4z" clip-rule="evenodd"/>
			</svg>
			</span>
			{{ text_wishlist }}
		</a>
	</div>
	{% endif %}
	{% if (show_h_compare is defined and (show_h_compare == 1)) %}
	<div class="box-compare">
		<a rel="nofollow" class="btn-compare-top" href="{{ compare }}"  id="compare-total">
			<span class="co-icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" fill="none" viewBox="0 0 15 14">
				<path fill="#000" fill-rule="evenodd" d="M10.728 1.439a.75.75 0 011.059.063l1.774 2a.75.75 0 010 .996l-1.774 2a.75.75 0 01-1.122-.996l.667-.752H2a.75.75 0 010-1.5h9.332l-.667-.752a.75.75 0 01.063-1.06zM4.272 12.561a.75.75 0 01-1.059-.063l-1.774-2a.75.75 0 010-.996l1.774-2a.75.75 0 011.122.996l-.667.752H13a.75.75 0 010 1.5H3.668l.667.752a.75.75 0 01-.063 1.059z" clip-rule="evenodd"/>
			</svg></span>
			{{ text_compare }}
		</a>
	</div>
	{% endif %}
		<div class="box-viewed-pc">
		<a class="btn-viewed-pc" {% if (quantity_viewed > 0) %}onclick="loadViewedProduct()"{% endif %} href="javascript:void(0)">
			<span class="v-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" viewBox="0 0 17 17">
			<path fill="#B2BBC5" fill-rule="evenodd" d="M1.565 8.5a13.185 13.185 0 001.727 2.32c1.265 1.35 3.028 2.597 5.208 2.597s3.943-1.247 5.208-2.597a13.172 13.172 0 001.727-2.32 13.174 13.174 0 00-1.727-2.32C12.443 4.83 10.68 3.583 8.5 3.583S4.557 4.83 3.292 6.18A13.186 13.186 0 001.565 8.5zm14.727 0l.67-.336-.001-.002-.002-.005-.009-.016a5.022 5.022 0 00-.136-.252 14.685 14.685 0 00-2.011-2.735C13.41 3.67 11.278 2.084 8.5 2.084S3.589 3.67 2.198 5.153A14.687 14.687 0 00.186 7.889a8.816 8.816 0 00-.136.252l-.009.016-.002.005v.001l-.001.001.67.336-.67-.335v.67l.67-.335-.67.336.001.002.002.005.009.016a5.374 5.374 0 00.136.252 14.685 14.685 0 002.012 2.735c1.39 1.484 3.523 3.07 6.302 3.07 2.779 0 4.911-1.586 6.302-3.07a14.684 14.684 0 002.012-2.735 8.794 8.794 0 00.136-.252l.009-.016.002-.005v-.001l.001-.001-.67-.336zm0 0l.67.335v-.67l-.67.335z" clip-rule="evenodd"/>
			<path fill="#B2BBC5" fill-rule="evenodd" d="M8.5 7.125a1.375 1.375 0 100 2.75 1.375 1.375 0 000-2.75zM5.625 8.5a2.875 2.875 0 115.75 0 2.875 2.875 0 01-5.75 0z" clip-rule="evenodd"/>
			</svg>
			</span>
			<span class="text-viewed">{{ text_viewed }}</span>
			<span class="viewed-quantity">{{ quantity_viewed }}</span>
		</a>
		<div class="close-viewed-pc"><a rel="nofollow" class="btn btn-close-viewed" href="javascript:void(0)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path stroke="#000" stroke-linecap="round" stroke-width="2" d="M2 2l12 12M2 14L14 2"/></svg></a></div>
		</div>
	</div>
	{% if (quantity_viewed > 0) %}
	<div class="content_viewed"></div>
	{% endif %}
</div>
{% endif %}
<nav id="top" class="visible-md visible-lg">
  <div class="container">
  {% if (header_nav_menu_links is not empty) %}
	<div class="pull-left">
		<div class="btn-group box-question">
			<ul class="dropdown-menu dropdown-menu-left header-nav-links ls-dropdown">
				{% for header_nav_menu_link in header_nav_menu_links %}
					<li><button {% if ((header_nav_menu_link['popup'] == '1') and (header_nav_menu_link['link'] != '')) %} onclick="$('.side-collapse').toggleClass('in'); banner_link_open('{{ header_nav_menu_link['link'] }}')" {% elseif ((header_nav_menu_link['popup'] == '0') and (header_nav_menu_link['link'] != '')) %}onclick="location='{{ header_nav_menu_link['link'] }}'" {% endif %} type="button" class="btn btn-link">{% if (header_nav_menu_link['icon_image'] is not empty) %}<i class="{{ header_nav_menu_link['icon_image'] }}"></i> {% endif %}{{ header_nav_menu_link['title'][lang_id] }}</button></li>
				 {% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class="pull-right">
	<div class="pull-right hidden-xs hidden-sm">
		<div class="btn-group box-account">
			<button data-toggle="dropdown" type="button" class="dropdown-toggle btn-account">{{ text_account }}</button>
			<ul class="dropdown-menu dropdown-menu-right ls-dropdown">
				{% if (logged) %}
				<li><a rel="nofollow" href="{{ account }}">{{ text_account }}</a></li>
				<li><a rel="nofollow" href="{{ order }}">{{ text_order }}</a></li>
				<li><a rel="nofollow" href="{{ logout }}">{{ text_logout }}</a></li>
				{% else %}
				<li class="listitem"><a class="btn-register" rel="nofollow" href="{{ register }}">{{ text_register }}</a></li>
				<li class="listitem"><a class="btn-login" rel="nofollow" href="javascript:void(0)" id="login-popup" data-load-url="index.php?route=common/login_modal">{{ text_login }}</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	{% if (fixed_bar_footer is defined and (fixed_bar_footer == 0)) %}
	{% if (show_h_wishlist is defined and (show_h_wishlist == 1)) %}
	<div class="pull-right box-wishlist">
		<a rel="nofollow" class="btn-wishlist-top" href="{{ wishlist }}" id="wishlist-total">
			<span class="wl-icon"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" fill="none" viewBox="0 0 10 13">
			<path fill="#000" fill-rule="evenodd" d="M1.5 1.5v8.974L3.613 8.44a2 2 0 012.774 0L8.5 10.474V1.5h-7zM1.4 0A1.4 1.4 0 000 1.4v10.25c0 .881 1.058 1.332 1.693.72l2.96-2.849a.5.5 0 01.694 0l2.96 2.849c.635.612 1.693.161 1.693-.72V1.4A1.4 1.4 0 008.6 0H1.4z" clip-rule="evenodd"/>
			</svg>
			</span>
			{{ text_wishlist }}
		</a>
	</div>
	{% endif %}
	{% if (show_h_compare is defined and (show_h_compare == 1)) %}
	<div class="pull-right box-compare">
		<a rel="nofollow" class="btn-compare-top" href="{{ compare }}"  id="compare-total">
			<span class="co-icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" fill="none" viewBox="0 0 15 14">
				<path fill="#000" fill-rule="evenodd" d="M10.728 1.439a.75.75 0 011.059.063l1.774 2a.75.75 0 010 .996l-1.774 2a.75.75 0 01-1.122-.996l.667-.752H2a.75.75 0 010-1.5h9.332l-.667-.752a.75.75 0 01.063-1.06zM4.272 12.561a.75.75 0 01-1.059-.063l-1.774-2a.75.75 0 010-.996l1.774-2a.75.75 0 011.122.996l-.667.752H13a.75.75 0 010 1.5H3.668l.667.752a.75.75 0 01-.063 1.059z" clip-rule="evenodd"/>
			</svg></span>
			{{ text_compare }}
		</a>
	</div>
	{% endif %}
	{% endif %}
	<div class="pull-right box-currency hidden-xs hidden-sm">
		{{ currency }}
	</div>
	<div class="pull-right box-language hidden-xs hidden-sm">
		{{ language }}
	</div>
	</div>
  </div>
</nav>
<header class="header_v_{{ type_header }} {% if (fm_fix_bottom is defined and (fm_fix_bottom == 0)) %}pt{% endif %} {% if ((type_header == 3) or (type_header == 4)) %}h-shadow{% endif %} {% if (config_fixed_panel_top) %}fix-header-{% if ((type_header == 3) or (type_header == 4)) %}2{% else %}1{% endif %}{% endif %}">
  <div class="container{% if (hide_logo_phone_mob == 1) %} hidden-xs{% endif %}">
    <div class="row dflex flex-wrap align-items-center pt-10 pb-10">
    	{% if ((type_header == 4) or ((type_header == 3) and (catalog_before_logo == 1))) %}
			<div class="box-menu-top pl-10 pr-10 visible-md visible-lg col-auto">
				<button type="button" class="btn-menu-top {% if ((type_header == 3) and (catalog_before_logo == 1)) %}vh3-bl{% else %}vh4{% endif %} dflex align-items-center">
					{% if (design_icon_menu is defined and (design_icon_menu == 1)) %}
					<svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="18" fill="none" viewBox="0 0 22 18"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 2h18M2 9h18M2 16h18"/></svg>
					{% else %}
					<svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 22 22"><path stroke="#fff" stroke-linecap="round" stroke-width="1.5" d="M12.8 13.25H20m-7.2 3.15H20m-7.2 3.15H20M3 20h5.2a1 1 0 001-1v-5.2a1 1 0 00-1-1H3a1 1 0 00-1 1V19a1 1 0 001 1zM13.8 9.65H19a1 1 0 001-1V3a1 1 0 00-1-1h-5.2a1 1 0 00-1 1v5.65a1 1 0 001 1zM3 9.65h5.2a1 1 0 001-1V3a1 1 0 00-1-1H3a1 1 0 00-1 1v5.65a1 1 0 001 1z"/></svg>
					{% endif %}
				</button>
			</div>
		{% endif %}
		<div class="col-xs-5 {% if (header_doptext_status) %}col-sm-4{% else %}col-sm-6{% endif %} col-md-3 col-lg-2 logo-top type-h-{{ type_header }}">
			<div id="logo">
			{% if (logo) %}
				{% if (home == home_page) %}
				  <img {% if (logo_iwh_status) %}width="{{ logo_w }}" height="{{ logo_h }}"{% endif %} src="{{ logo }}" alt="{{ name }}" class="img-responsive"/>
				{% else %}
				  <a href="{{ home }}"><img {% if (logo_iwh_status) %}width="{{ logo_w }}" height="{{ logo_h }}"{% endif %} src="{{ logo }}" alt="{{ name }}" class="img-responsive"/></a>
				{% endif %}
			  {% else %}
				<h1><a href="{{ home }}">{{ name }}</a></h1>
			  {% endif %}
			</div>
		</div>
		{% if ((type_header == 3) and (catalog_before_logo == 0)) %}
			<div class="box-menu-top visible-md visible-lg col-lg-2 col-auto">
				<button type="button" class="btn-menu-top vh3 dflex align-items-center">
					{% if (design_icon_menu is defined and (design_icon_menu == 1)) %}
					<svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="18" fill="none" viewBox="0 0 22 18"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 2h18M2 9h18M2 16h18"/></svg>
					{% else %}
					<svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 22 22"><path stroke="#fff" stroke-linecap="round" stroke-width="1.5" d="M12.8 13.25H20m-7.2 3.15H20m-7.2 3.15H20M3 20h5.2a1 1 0 001-1v-5.2a1 1 0 00-1-1H3a1 1 0 00-1 1V19a1 1 0 001 1zM13.8 9.65H19a1 1 0 001-1V3a1 1 0 00-1-1h-5.2a1 1 0 00-1 1v5.65a1 1 0 001 1zM3 9.65h5.2a1 1 0 001-1V3a1 1 0 00-1-1H3a1 1 0 00-1 1v5.65a1 1 0 001 1z"/></svg>
					{% endif %}
					<span class="text-category hidden-md">{{ text_catalog }}</span>
					<svg class="icon-arrow hidden-md" width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.2112 2.94389C3.40755 3.13808 3.72415 3.1363 3.91831 2.93994L6.18157 0.651057C6.37573 0.454698 6.69231 0.452916 6.88867 0.647076C7.08503 0.841236 7.08681 1.15781 6.89265 1.35417L4.62939 3.64305C4.04688 4.23215 3.0971 4.23747 2.50804 3.65493L0.18553 1.35813C-0.0108166 1.16396 -0.0125785 0.84738 0.181594 0.651034C0.375766 0.454688 0.692344 0.452926 0.88869 0.647099L3.2112 2.94389Z" fill="white"/>
					</svg>
				</button>
			</div>
		{% endif %}
		{% if (header_doptext_status) %}
			<div class="header_dopmenu_doptext hidden-xs {% if (status_search_word) %}hsw {% else %}nsw {% endif %}{% if (swap_header_blocks is defined and (swap_header_blocks == '1')) %}f-order-3{% else %}f-order-0{% endif %}">{{ header_doptext }}</div>
		{% endif %}
		<div class="phone-box col-xs-7 {% if (header_doptext_status) %}col-sm-auto{% else %}col-sm-6{% endif %} col-md-3 col-auto {% if (swap_header_blocks is defined and (swap_header_blocks == '1')) %}f-order-3{% endif %}">
			<div id="phone" class="dflex justify-content-xs-end justify-content-sm-end {% if (type_header == 1) %}justify-content-md-center{% endif %} {% if (header_phones_dropdown is not empty or arbitrary_text[lang_id]['text']) %}pr-20{% endif %}">
				<div class="contact-header">
					<div class="dropdown-toggle">
						{% for result_hp in config_phones_array %}
							<div class="additional-tel dth">
							{% if (result_hp['type'] is not empty) %}
								<a {{ result_hp['type'] }}>
								{% if (result_hp['icon_phone'] != '') %}
									<div class="icon-image"><img loading="lazy" width="25" height="25" src="{{ result_hp['icon_phone'] }}" alt="{{ result_hp['phone'] }}" /></div>
									{% elseif (result_hp['icon'] != '') %}
									<div class="icon-image"><i class="{{ result_hp['icon'] }}"></i></div>
								{% endif %}
								{{ result_hp['phone']}}</a>
							{% else %}
								{% if (result_hp['icon_phone'] != '') %}
									<div class="icon-image"><img loading="lazy" width="25" height="25" src="{{ result_hp['icon_phone'] }}" alt="{{ result_hp['phone'] }}" /></div>
									{% elseif (result_hp['icon'] != '') %}
									<div class="icon-image"><i class="{{ result_hp['icon'] }}"></i></div>
								{% endif %}
								{{ result_hp['phone']}}
							{% endif %}
							</div>
						{% endfor %}
						{% if (header_phones_dropdown is not empty or arbitrary_text[lang_id]['text']) %}
							<span class="drop-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"/></svg></span>
						{% endif %}
					</div>
					{% if (header_phones_dropdown is not empty or arbitrary_text) %}
					<ul class="dropdown-menu drop-contacts ls-dropdown">
						{% if (arbitrary_text is defined and (arbitrary_text is not empty)) %}
						<li>{{ arbitrary_text }}</li>
						{% endif %}
						{% if (header_phones_dropdown is not empty) %}
							{% for result_ddh in header_phones_dropdown %}
								<li>
								{% if (result_ddh['type'] is not empty) %}
									<a {{ result_ddh['type'] }}>
										{% if (result_ddh['icon_phone'] != '') %}
										<div class="icon-image"><img loading="lazy" width="25" height="25" src="{{ result_ddh['icon_phone'] }}" alt="{{ result_ddh['phone'] }}" /></div>
										{% elseif (result_ddh['icon'] != '') %}
										<div class="icon-image"><i class="{{ result_ddh['icon'] }}"></i></div>
										{% endif %}
										{{ result_ddh['phone'] }}
									</a>
									{% else %}
										<div>
										{% if (result_ddh['icon_phone'] != '') %}
											<div class="icon-image"><img loading="lazy" width="25" height="25" src="{{ result_ddh['icon_phone'] }}" alt="{{ result_ddh['phone'] }}" /></div>
											{% elseif (result_ddh['icon'] != '') %}
											<div class="icon-image"><i class="{{ result_ddh['icon'] }}"></i></div>
											{% endif %}
											{{ result_ddh['phone'] }}
										</div>
									{% endif %}
								</li>
							{% endfor %}
						{% endif %}
					</ul>
					{% endif %}
					<div class="text_after_phone">{{ text_after_phone }}</div>
				</div>
			</div>
		</div>
		{% if ((type_header == 2) and (swap_search_dmenu == 1)) %}
		<div class="dop-menu-header visible-md visible-lg col-md-4 col-lg-5 {% if (swap_header_blocks is defined and (swap_header_blocks == '1')) %}flex-1 mr-auto f-order-2 dopmenu-center{% else %}flex-1 ml-auto f-order-3{% endif %}">
			{{ ls_dop_menu }}
		</div>
		{% endif %}
		{% if ((type_header == 1) or (type_header == 2) and (swap_search_dmenu == 0) or ((type_header == 3) or (type_header == 4))) %}
		<div class="box-search search-top swdm-{{ swap_search_dmenu }} col-xs-9 col-sm-9 flex-1 hidden-xs {% if (type_shop_cart is defined and (type_shop_cart == '1')) %} col-md-5 {% else %} col-md-4{% endif %}">{{ search }}</div>
		{% endif %}
		{% if ((type_header == 1) or ((type_header == 3) or (type_header == 4))) %}
		<div class="box-cart col-xs-3 col-sm-3 hidden-xs{% if (type_shop_cart is defined and (type_shop_cart == '1')) %} col-md-1 {% else %} col-md-2{% endif %}">{{ cart }}</div>
		{% endif %}
	</div>
  </div>
{% if (megamenu_status) %}
	{% include "luxshop/template/common/hmob_menu.twig" %}
{% endif %}
</header>
{% if (megamenu_status) %}
<div class="menu-header-box hidden-xs hidden-sm {% if ((type_header == 3) or (type_header == 4)) %}type-h-{{ type_header }} {% endif %}{% if (type_header == 1 or type_header == 2) %}{% if (menu_width is defined and (menu_width == 1)) %}menu_width_full {% endif %}{% endif %}">
	<div class="container {% if ((type_header == 3) or (type_header == 4)) %}pos-r{% endif %}">
		<div class="row dflex">
			{{ menuvh }}
			{% if ((type_header == 2) and (swap_search_dmenu == 1)) %}
				<div class="box-search search-top swdm-{{ swap_search_dmenu }} col-xs-9 col-sm-9 flex-1 {% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}hidden-xs {% endif %}{% if (type_shop_cart is defined and (type_shop_cart == '1')) %} col-md-5 {% else %} col-md-4{% endif %}">{{ search }}</div>
			{% endif %}
			{% if (type_header == 2) %}
				<div class="box-cart cart-in-menu col-xs-3 col-sm-3 {% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}hidden-xs{% endif %}{% if (type_shop_cart is defined and (type_shop_cart == '1')) %} col-md-1 {% else %} col-md-2{% endif %}">{{ cart }}</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}