{{ header }}
<div class="container">
	<div class="breadcrumb-box">
		<ul class="breadcrumb">
			{% for i,breadcrumb in breadcrumbs %}
				{% if (i+1 < breadcrumbs|length) %}
					<li><a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
				{% else %}
					<li><span>{{ breadcrumb.text }}</span></li>
				{% endif %}

			{% endfor %}
		</ul>
	</div>
	<h1 class="h1-prod-name">{{ heading_title }}</h1>
	<div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-4 col-md-6' %}
	{% set class_center_block = 'col-sm-12 col-md-12' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-8 col-md-9' %}
	{% set class_center_block = 'col-sm-4 col-md-4' %}
    {% else %}
    {% set class = 'col-sm-12' %}
	{% set class_center_block = 'col-sm-4 col-md-4' %}
    {% endif %}
    <div id="content" class="{{ class }}">
	{{ content_top }}

				{{ editorplus }}
			
	<div class="row-flex no-gutters" id="product">
        {% if (column_left and column_right) %}
        	{% set class = 'col-sm-12 col-md-12' %}
        {% elseif (column_left or column_right) %}
			{% set class = 'col-xs-12 col-md-5 col-lg-5' %}
        {% else %}
			{% set class = 'col-xs-12 col-md-5 col-lg-5' %}
        {% endif %}
        <div class="{{ class }}">
          	{% if (thumb or images) %}
				<div class="image-block h-100">
				<div class="thumbnails {% if (fix_left_block is defined and (fix_left_block == '1')) %}sticky-left-block{% endif %}">
					{% if (thumb) %}
						<div class="general-image{% if (images) %} have-images{% endif %}">
							<div id="image-box">
							<div class="stickers-ns">
								{% if ((on_off_sticker_special == '1') and special) %}
									<div class="sticker-ns special">
										{% if (config_change_icon_sticker_special is not empty) %}<i class="fa {{ config_change_icon_sticker_special }} "></i>{% endif %}
										{{ text_sticker_special[lang_id].config_change_text_sticker_special }}
									</div>
								{% endif %}
								{% if ((on_off_sticker_topbestseller == '1') and (top_bestsellers >= config_limit_order_product_topbestseller)) %}
									<div class="sticker-ns bestseller">
										{% if (config_change_icon_sticker_topbestseller is not empty) %}<i class="fa {{ config_change_icon_sticker_topbestseller }} "></i>{% endif %}
										{{ text_sticker_topbestseller[lang_id].config_change_text_sticker_topbestseller }}
									</div>
								{% endif %}
								{% if ((on_off_sticker_popular == '1') and (viewed>=config_min_quantity_popular)) %}
									<div class="sticker-ns popular">
										{% if (config_change_icon_sticker_popular is not empty) %}<i class="fa {{ config_change_icon_sticker_popular }} "></i>{% endif %}
										{{ text_sticker_popular[lang_id].config_change_text_sticker_popular }}
									</div>
								{% endif %}
								{% if ((on_off_sticker_newproduct == '1') and sticker_new_prod ) %}
									<div class="sticker-ns newproduct">
										{% if (config_change_icon_sticker_newproduct is not empty) %}<i class="fa {{ config_change_icon_sticker_newproduct }}"></i>{% endif %}
										{{ text_sticker_newproduct[lang_id].config_change_text_sticker_newproduct }}
									</div>
								{% endif %}
							</div>
							<div class="slider-main-img">
								<div class="item">
									<a data-fancybox="gallery" class="main-image thumbnail" href="{{ popup }}" title="{{ heading_title }}">
										<img data-num="0" width="{{ thumb_width }}" height="{{ thumb_height }}" class="img-responsive" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
									</a>
								</div>
							  	{% if (images) %}
								{% set num_image_b = 1 %}
								  	{% for image in images %}
										<div class="item">
											<a data-fancybox="gallery" class="thumbnail dop-img" data-magnify-src="{{ image.popup }}" href="{{ image.popup }}" title="{{ heading_title }}">
											<img width="{{ thumb_width }}" height="{{ thumb_height }}" data-num="{{ num_image_b }}" src="{{ image.thumb_hover }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
										</div>
								 	 {% set num_image_b = num_image_b + 1 %}
									{% endfor %}
							  	{% endif %}
							</div>
							</div>
							<script>
								$('.slider-main-img').slick({
									draggable: true,
									swipeToSlide: false,
									slidesToShow: 1,
									slidesToScroll: 1,
									infinite: false,
									arrows: false,
									initialSlide: 0,
									fade: false,
									adaptiveHeight: false,
									asNavFor: '.thumbnails .image-additional'
								});
							</script>
						</div>
					{% endif %}
					{% if (images) %}
						<div class="image-additional">
							<div class="item">
								<a class="thumbnail" href="javascript:void(0)" title="{{ heading_title }}">
									<img width="{{ ia_width }}" height="{{ ia_height }}" data-num="0" src="{{ thumb_min }}" alt="" />
								</a>
							</div>
							{% set num_image = 1 %}
							{% for image in images %}
								<div class="item">
									<a class="thumbnail" href="javascript:void(0)" title="{{ heading_title }}">
									<img width="{{ ia_width }}" height="{{ ia_height }}" data-num="{{ num_image }}" src="{{ image.thumb }}" alt="" /></a>
								</div>
							{% set num_image = num_image + 1 %}
							{% endfor %}
						</div>
					<script>
						$(".thumbnails .image-additional").slick({
							vertical:false,
							prevArrow: "<div class='btn-slick-prev-h'><svg xmlns='http://www.w3.org/2000/svg' width='8' height='14' fill='none' viewBox='0 0 8 14'><path stroke='#000' stroke-linecap='round' d='M6 12L1.711 7.76a1 1 0 01-.008-1.415L6 2'/></svg></div>",
							nextArrow: "<div class='btn-slick-next-h'><svg xmlns='http://www.w3.org/2000/svg' width='8' height='14' fill='none' viewBox='0 0 8 14'><path stroke='#000' stroke-linecap='round' d='M2 2l4.289 4.24a1 1 0 01.008 1.415L2 12'/></svg></div>",
							focusOnSelect: true,
							asNavFor: '.slider-main-img',
							adaptiveHeight: true,
							infinite: false,
							slidesToShow: 5,
						});
					  </script>
					{% endif %}
				</div>
				</div>
          	{% endif %}
        </div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="center-inf-block h-100">
			<div class="info-model">{{ text_model }} <span>{{ model }}</span></div>
			{% if (manufacturer) %}
				<div class="info-manufacturer">{{ text_manufacturer }} <a href="{{ manufacturers }}"><span>{{ manufacturer }}</span></a></div>
			{% endif %}
			{% if (review_status) %}
				<div class="rating info-rating">
					<span class="rating-box">
						{% set i = 1 %}{% for i in i..5 %}
							{% if (rating < i) %}
								<span class="product-rating-star">
									<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
										<path fill="#E9ECEF" fill-rule="evenodd" d="M6 10.283l-2.972 1.634c-.498.274-1.08-.168-.985-.748l.567-3.46-2.404-2.45c-.403-.41-.18-1.126.376-1.21l3.323-.506L5.391.396a.666.666 0 011.218 0l1.486 3.147 3.323.505c.557.085.78.8.376 1.21L9.39 7.709l.567 3.46c.095.58-.487 1.023-.985.749L6 10.283z" clip-rule="evenodd"/>
									</svg>
								</span>
							{% else %}
								<span class="product-rating-star">
									<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
										<path fill="#E5DB77" fill-rule="evenodd" d="M6 10.283l-2.972 1.634c-.498.274-1.08-.168-.985-.748l.567-3.46-2.404-2.45c-.403-.41-.18-1.126.376-1.21l3.323-.506L5.391.396a.666.666 0 011.218 0l1.486 3.147 3.323.505c.557.085.78.8.376 1.21L9.39 7.709l.567 3.46c.095.58-.487 1.023-.985.749L6 10.283z" clip-rule="evenodd"/>
									</svg>
								</span>
							{% endif %}
						{% endfor %}
						<span class="quantity-reviews"><a href="javascript:void(0)" data-placement="top" data-toggle="tooltip" title="{{ text_reviews_title }}" onclick="$('a[href=\'#tab-review\']').trigger('click');$('html, body').animate({ scrollTop: $('a[href=\'#tab-review\']').offset().top - 5}, 250); return false;">{{ reviewCount }}</a></span>
					</span>
				</div>
			{% endif %}
			{% if (short_description_status is defined and (short_description_status == '1') and (short_description is not empty)) %}
				<div class="short-desc-b {% if (hide_short_desc_mob is defined and (hide_short_desc_mob == '1')) %}hidden-xs{% endif %}">
					<div class="title_short_description">{{ text_short_description }}</div>
					<div class="text_short_description">{{ description|striptags|slice(0, 220) ~ '...' }}</div>
					<a href="javascript:void(0);" class="redmore-link" onclick="goTab('#tab-description'); return false;">{{ text_readmore_desc }}</a>
				</div>
			{% endif %}
			{% if (short_attribut_status is defined and (short_attribut_status == '1')) %}
				{% if (attribute_groups) %}
					<div class="short-attr-b {% if (hide_short_attr_mob is defined and (hide_short_attr_mob == '1')) %}hidden-xs{% endif %}">
					<div class="title_short_attribute">{{ text_short_attribute }}</div>
					<div class="short-attributes-groups">
						{% for key,attribute_group in attribute_groups %}
							{% if (key < short_attribute_group_product) %}
								{% for key,attribute in attribute_group.attribute %}
									{% if (key < short_attribute_group_product_item) %}
										<div class="short-attribute">
											{% if (short_attribute_show_name is defined and (short_attribute_show_name == '1')) %}
											<span class="attr-name"><span>{{ attribute.name }} - </span></span>
											{% endif %}
											<span class="attr-text"><span>{{ attribute.text }}</span></span>
										</div>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					</div>
					<a href="javascript:void(0);" class="redmore-link" onclick="goTab('#tab-specification'); return false;">{{ text_see_all_attribute }}</a>
					</div>
				{% endif %}
			{% endif %}
			{% if (options) %}
			<div class="options">
			{% for option in options %}
				{% if (option.type == 'select') %}
				<div class="form-group{{ option.required ? ' required' : '' }}">
					<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
					<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
						<option value="">{{ text_select }}</option>
						{% for option_value in option.product_option_value %}
						<option value="{{ option_value.product_option_value_id }}" data-points="{{ option_value.points_value is defined ? option_value.points_value : 0 }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}">{{ option_value.name }}
						{% if (option_value.price) %}
						({{ option_value.price_prefix }}{{ option_value.price }})
						{% endif %}
						</option>
						{% endfor %}
					</select>
				</div>
				{% endif %}
				{% if (option.type == 'radio') %}
						<div class="form-group{{ option.required ? ' required' : '' }}">
							<label class="control-label">{{ option.name }}</label>
							<div id="input-option{{ option.product_option_id }}">
								{% for option_value in option.product_option_value %}
									{% if (option_value.image or option_value.color) %}
										{% if (option.status_color_type == '1') %}
											<div class="image-radio">
											  <label>
												<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-points="{{ option_value.points_value is defined ? option_value.points_value : 0 }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" />
												<span class="color-option" {% if (option_value['price']) %}data-toggle="tooltip" title="{{ option_value.price_prefix ~ option_value.price }}"{% endif %} style="background-color:{{ option_value.color}}"></span>
											  </label>
											</div>
										{% else %}
											<div class="image-radio">
											  <label>
												<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-points="{{ option_value.points_value is defined ? option_value.points_value : 0 }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" />
												<img onclick="optionimage('{{ option_value.image_click }}','{{ option_value.image_zoom }}','{{ option_value.image_thumb }}')" src="{{ option_value.image }}" alt="{{ option_value.name ~ option_value.price ? ' ' ~ option_value.price_prefix ~ option_value.price : '' }}" class="img-thumbnail" {% if (option_value['price']) %}data-toggle="tooltip" title="{{ option_value.price_prefix ~ option_value.price }}"{% endif %} />
											  </label>
											</div>
										{% endif %}
									{% else %}
										<div class="radio-checbox-options">
										  <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-points="{{ option_value.points_value is defined ? option_value.points_value : 0 }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" id="{{ option.product_option_id }}_{{ option_value.product_option_value_id }}" />
											<label {% if (option_value['price']) %}data-toggle="tooltip" title="{{ option_value.price_prefix ~ option_value.price }}"{% endif %} for="{{ option.product_option_id }}_{{ option_value.product_option_value_id }}">
											<span class="option-name">{{ option_value.name }}</span>
										  </label>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if (option.type == 'checkbox') %}
					<div class="form-group{{ option.required ? ' required' : '' }}">
						<label class="control-label">{{ option.name }}</label>
						<div id="input-option{{ option.product_option_id }}">
							{% for option_value in option.product_option_value %}
								{% if (option_value.image or option_value.color) %}
										{% if (option.status_color_type == '1') %}
											<div class="image-radio">
											  <label>
												<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" data-points="{{ option_value.points_value is defined ? option_value.points_value : 0 }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" />
												<span class="color-option" {% if (option_value['price']) %}data-toggle="tooltip" title="{{ option_value.price_prefix ~ option_value.price }}"{% endif %} style="background-color:{{ option_value.color}}"></span>
											  </label>
											</div>
										{% else %}
											<div class="image-radio">
											  <label>
												<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" data-points="{{ option_value.points_value is defined ? option_value.points_value : 0 }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" />
												<img onclick="optionimage('{{ option_value.image_click }}','{{ option_value.image_zoom }}','{{ option_value.image_thumb }}')" src="{{ option_value.image }}" alt="{{ option_value.name ~ option_value.price ? ' ' ~ option_value.price_prefix ~ option_value.price : '' }}" class="img-thumbnail" {% if (option_value['price']) %}data-toggle="tooltip" title="{{ option_value.price_prefix ~ option_value.price }}"{% endif %} />
											  </label>
											</div>
										{% endif %}
									{% else %}
										<div class="radio-checbox-options">
										  <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" data-points="{{ option_value.points_value is defined ? option_value.points_value : 0 }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" id="{{ option.product_option_id }}_{{ option_value.product_option_value_id }}" />
											<label {% if (option_value['price']) %}data-toggle="tooltip" title="{{ option_value.price_prefix ~ option_value.price }}"{% endif %} for="{{ option.product_option_id }}_{{ option_value.product_option_value_id }}">
											<span class="option-name">{{ option_value.name }}</span>
										  </label>
										</div>
									{% endif %}
							{% endfor %}
						</div>
					</div>
					{% endif %}
				{% if (option.type == 'text') %}
				<div class="form-group{{ option.required ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
				  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
				</div>
				{% endif %}
				{% if (option.type == 'textarea') %}
				<div class="form-group{{ option.required ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
				  <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
				</div>
				{% endif %}
				{% if (option.type == 'file') %}
				<div class="form-group{{ option.required ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
				  <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
				  <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
				</div>
				{% endif %}
				{% if (option.type == 'date') %}
				<div class="form-group{{ option.required ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
				  <div class="input-group date">
					<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
					<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
					</span></div>
				</div>
				{% endif %}
				{% if (option.type == 'datetime') %}
				<div class="form-group{{ option.required ? ' required' : '' }}">
					<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
				  <div class="input-group datetime">
					<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
				</div>
				{% endif %}
				{% if (option.type == 'time') %}
				<div class="form-group{{ option.required ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
				  <div class="input-group time">
					<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
				</div>
				{% endif %}
			{% endfor %}
			</div>
			{% endif %}

			{% if (config_status_delivery_options != '0') %}
				<div class="custom-block-products">
					{% if (config_delivery_options_title[lang_id].config_delivery_options_title is not empty) %}
					<div class="title-module"><span>{{ config_delivery_options_title[lang_id].config_delivery_options_title }}</span></div>
					{% endif %}
					<div class="row">
						{% for delivery_block in banner_delivery_block %}
							<div class="col-xs-12 col-sm-12">
								<div class="custom-block-product" {% if ((delivery_block.popup == '1') and (delivery_block.link[lang_id] != '')) %} onclick="banner_link_open('{{ delivery_block.link[lang_id] }}')" {% elseif ((delivery_block.popup == '0') and (delivery_block.link[lang_id] != '')) %}onclick="location='{{ delivery_block.link[lang_id] }}'"{% endif %}>
									<div class="image">
										<img src="{{ delivery_block.image }}" alt="{{ delivery_block.title[lang_id] }}"/>
									</div>
									<div class="text">
										<div class="custom-block-title">{{ delivery_block.title[lang_id] }}</div>
										<div class="custom-block-desc">{{ delivery_block.description }}</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if (recurrings) %}
			<h3>{{ text_payment_recurring }}</h3>
			<div class="form-group required">
			  <select name="recurring_id" class="form-control">
				<option value="">{{ text_select }}</option>
				{% for recurring in recurrings %}
				<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
				{% endfor %}
			  </select>
			  <div class="help-block" id="recurring-description"></div>
			</div>
			{% endif %}
		</div>
		</div>
		<div class="right-block col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div id="fix_right_block">
				<div class="panel-rigth-block">
				{% if (ns_show_nextprev_prod is defined and (ns_show_nextprev_prod == 1)) %}
				<div class="mb-20">
					<div id="next-prev-box">{{ nextprevproduct }}</div>
				</div>
				{% endif %}
				{% if (ns_on_off_countdown_product != '0') %}
					{% if (special) %}
						{% if (special_date_end != "") %}
							<div class="special-countdown action-timer" data-date-end="{{ special_date_end }}"></div>
						{% endif %}
					{% endif %}
				{% endif %}
				<div class="info-product-stock">
				{% if (stock_quantity_count > 0) %}
					<span class="stock_status_success"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.77616 4.60058C10.047 4.3766 10.4481 4.41458 10.6721 4.68542C10.8712 4.92617 10.8633 5.26986 10.6689 5.50057L10.5873 5.58137L5.60652 9.70036L3.46645 8.28164C3.17352 8.08744 3.09348 7.69255 3.28768 7.39962C3.46029 7.13923 3.79149 7.04706 4.06869 7.16618L4.16969 7.22084L5.52226 8.11752L9.77616 4.60058Z" fill="#00BC52"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M14 7C14 3.13401 10.866 0 7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7ZM1.27273 7C1.27273 3.83691 3.83691 1.27273 7 1.27273C10.1631 1.27273 12.7273 3.83691 12.7273 7C12.7273 10.1631 10.1631 12.7273 7 12.7273C3.83691 12.7273 1.27273 10.1631 1.27273 7Z" fill="#00BC52"></path></svg>{{ stock_status }}</span>
					{% if (stock_quantity != 'not_display') %}<span class="stock-quantity_success">{{ stock_quantity }}</span>{% endif %}
				{% else %}
					<span class="qty-not-in-stock">{{ stock_status }}</span>
					{% if (stock_quantity != 'not_display') %}<span class="qty-not-in-stock-count">{{ stock_quantity }}</span>{% endif %}
				{% endif %}
				</div>
				{% if (price) %}
					<div class="price">
						{% if (not special) %}
							{{ price }}
						{% else %}
							<span class="price-old">{{ price }}{% if ((on_off_percent_discount == '1') and special) %}<span class="sticker-ls-pd procent-skidka">{{ skidka }} %</span>{% endif %}</span>
							<span class="price-new">{{ special }}</span>

						{% endif %}
						{% if (tax) %}
							<span class="price-tax">{{ text_tax }} {{ tax }}</span>
						{% endif %}
					</div>
				{% endif %}
				{% if (points) %}
					<div class="points">{{ text_points }} {{ points }}</div>
				{% endif %}
				{% if (fcpdata.status is defined and fcpdata.status) %}
					<a class="btn-cheaper" href="javascript: void(0);" onclick="open_popup_fcp({{ product_id }}); return false"><i class="{{ fcpdata.found_cheaper_botton_icon }}"></i> {{ fcpdata.found_cheaper_botton_text[lang_id] is defined ? fcpdata.found_cheaper_botton_text[lang_id].text : '' }}   </a>
				{% endif %}

				{% if (reward) %}
					<div class="info-product-reward">{{ text_reward }} {{ reward }}</div>
				{% endif %}
				{% if (discounts) %}
				<ul class="list-unstyled product-discounts">
					{% for discount in discounts %}
						<li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if (minimum > 1) %}
					<div class="info-minimum">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17ZM9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#E5DB77"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9 4.50952C9.27614 4.50952 9.5 4.73338 9.5 5.00952V10.2151C9.5 10.4913 9.27614 10.7151 9 10.7151C8.72386 10.7151 8.5 10.4913 8.5 10.2151V5.00952C8.5 4.73338 8.72386 4.50952 9 4.50952Z" fill="#E5DB77"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9 12.2985C9.27614 12.2985 9.5 12.5223 9.5 12.7985V13.6879C9.5 13.964 9.27614 14.1879 9 14.1879C8.72386 14.1879 8.5 13.964 8.5 13.6879V12.7985C8.5 12.5223 8.72386 12.2985 9 12.2985Z" fill="#E5DB77"></path></svg>
		 				 {{ text_minimum }}
		 			</div>
				{% endif %}
				<div class="actions-additional">
					<div class="quantity-adder pull-left clearfix">
						<div class="quantity-number dflex pull-left">
							<span onclick="btnminus_card_prod('{% if (config_additional_settings_luxshop.quantity_multiple is defined and (config_additional_settings_luxshop.quantity_multiple == '1')) %}{{ minimum }}{% else %}1{% endif %}');" class="add-down add-action fa fa-angle-left"></span>
							<input {% if (config_additional_settings_luxshop.quantity_multiple is defined and (config_additional_settings_luxshop.quantity_multiple == '1') and minimum > 1) %}disabled{% endif %} class="quantity-product form-control" type="text" name="quantity" size="2" value="{{ minimum }}" />
							<span onclick="btnplus_card_prod('{% if (config_additional_settings_luxshop.quantity_multiple is defined and (config_additional_settings_luxshop.quantity_multiple == '1')) %}{{ minimum }}{% else %}1{% endif %}');" class="add-up add-action fa fa-angle-right"></span>
						</div>
						<input type="hidden" name="product_id" value="{{ product_id }}" />
					 </div>
					<script>
						function btnminus_card_prod(minimum){
							var $input = $('.actions-additional .quantity-product');
							var count = parseInt($input.val()) - parseInt(minimum);
							count = count < parseInt({{ minimum }}) ? parseInt({{ minimum }}) : count;
							$input.val(count);
							$input.change();
						}
						function btnplus_card_prod(minimum){
							var $input = $('.actions-additional .quantity-product');
							var count = parseInt($input.val()) + parseInt(minimum);
							$input.val(count);
							$input.change();
						};
					</script>
					<div class="dflex justify-content-end">
					{% if (show_nsproduct_btn_compare == '1') %}
						<button type="button" data-toggle="tooltip" class="btn btn-compare" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><span class="btn-icon-compare"></span></button>
					{% endif %}
					{% if (show_nsproduct_btn_wishlist == '1') %}
						<button type="button" data-toggle="tooltip" class="btn btn-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><span class="btn-icon-wishlist"></span></button>
					{% endif %}
					</div>
				</div>
				<div class="actions text-center">
					<div class="cart">
						{% if ((product_quantity <= 0) and disable_cart_button) %}
							<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-general" disabled>{% if (change_text_cart_button_out_of_stock == 1 and product_quantity <= 0) %}<span>{{ disable_cart_button_text }}</span>{% else %}<span class="icon-cart-add"></span> <span class="text-cart-add">{{ button_cart }}</span>{% endif %}</button>
						{% else %}
							<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-general">{% if (change_text_cart_button_out_of_stock == 1 and product_quantity <= 0) %}<span>{{ disable_cart_button_text }}</span>{% else %}<span class="icon-cart-add"></span> <span class="text-cart-add">{{ button_cart }}</span>{% endif %}</button>
						{% endif %}
					</div>
					{% if (show_nsproduct_btn_fastorder == '1') %}
						<button class="btn btn-fastorder {% if ((product_quantity <= 0) and disable_fastorder_button) %}hidden-quick-order{% endif %}" type="button" onclick="fastorder_open({{ product_id}});" {% if ((product_quantity <= 0) and disable_fastorder_button) %}disabled{% endif %}>
							<span class="btn-icon-fastorder"></span>
							<span>{{ config_text_open_form_send_order[lang_id].config_text_open_form_send_order }}</span>
						</button>
					{% endif %}
				</div>
				{% if ((ns_on_off_product_sharing_facebock == '1') or (ns_on_off_product_sharing_twitter == '1') or (ns_on_off_product_sharing_googleplus == '1') or (ns_on_off_product_sharing_mailru == '1') or (ns_on_off_product_sharing_vk == '1') or (ns_on_off_product_sharing_ok == '1') ) %}
					<hr>
					<div class="social-likes">
						{% if (ns_on_off_product_sharing_facebock != '0') %}<div class="facebook" title="Share link on Facebook">{{ text_facebook }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_twitter != '0') %}<div class="twitter" title="Share link on Twitter">{{ text_twitter }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_googleplus != '0') %}<div class="plusone" title="Share link on Google+">{{ text_googleplus }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_mailru != '0') %}<div class="mailru" title="Поделиться ссылкой в Моём мире">{{ text_mailru }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_vk != '0') %}<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">{{ text_vk }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_ok != '0') %}<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">{{ text_ok }}</div>{% endif %}
					</div>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% set fixed_tabs_on_mobile = 1 %}
	<div class="row cbp {% if (fixed_tabs_on_mobile is defined and fixed_tabs_on_mobile == 1) %}xs-mt-0 xs-bt-1{% endif %}">
	<div class="clearfix"></div>
	<div class="tabs-product col-sm-12">
		<div class="tabs__header {% if (fixed_tabs_on_mobile is defined and fixed_tabs_on_mobile == 1) %}ft__mobile{% endif %}">
		<div class="tabs__header__scroll dragscroll">
 		<ul class="nav nav-tabs my-tabs">
 			<li class="tabs__active_line"></li>
            <li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
            {% if (attribute_groups) %}
            <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
            {% endif %}
            {% if (review_status) %}
            <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
            {% endif %}
			{% if (qadata.status is defined) %}
				<li><a href="#tab-question-answer" data-toggle="tab">{{ tab_question_answer }}</a></li>
			{% endif %}
			{% if (product_additional_tabs is defined) %}
              {% set additional_tab_i=0 %} {% for product_additional_tab in product_additional_tabs %}
                <li><a href="#product_additional_tabs{{ additional_tab_i }}" data-toggle="tab"><i class="{{ product_additional_tab.icon_tabs }}"></i> {{ product_additional_tab.title }}</a></li>
              {% set additional_tab_i = additional_tab_i + 1 %} {% endfor %}
            {% endif %}
          </ul>
      	  </div>
      	  </div>
      	  {% set show_group_attr_name = 1 %}
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description">{{ description }}</div>
            {% if (attribute_groups) %}
            <div class="tab-pane" id="tab-specification">
				{% for attribute_group in attribute_groups %}
					<div class="short-attributes-groups">
					{% if (show_group_attr_name is defined and (show_group_attr_name == 1)) %}
					<div class="attr-group-name">{{ attribute_group.name }}</div>
					{% endif %}
						{% for attribute in attribute_group.attribute %}
							<div class="short-attribute">
							<span class="attr-name"><span>{{ attribute.name }}</span></span>
							<span class="attr-text"><span>{{ attribute.text }}</span></span>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
            </div>
            {% endif %}
			{% if (qadata.status is defined) %}
			<div class="tab-pane" id="tab-question-answer">
				<div id="question-answer"></div>
				<script><!--
				$('#question-answer').load('index.php?route=extension/module/luxshop_question_answer/getList&product_id={{ product_id }}');
				$('#question-answer').delegate('.pagination a', 'click', function(e) {
					e.preventDefault();

					$('#question-answer').fadeOut('slow');

					$('#question-answer').load(this.href);

					$('#question-answer').fadeIn('slow');
				});
				//--></script>
			</div>
			{% endif %}
			{% if (product_additional_tabs is defined) %}
				{% set additional_tab_i=0 %} {% for product_additional_tab in product_additional_tabs %}
				  <div class="tab-pane" id="product_additional_tabs{{ additional_tab_i }}">{{ product_additional_tab.text }}</div>
				{% set additional_tab_i = additional_tab_i + 1 %} {% endfor %}
			  {% endif %}
            {% if (review_status) %}
            <div class="tab-pane" id="tab-review">
            	 <div id="review"></div>
              <form class="form-horizontal" id="form-review">
                <div class="titler-r">{{ text_write }}</div>
                {% if (review_guest) %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
			              <div class="col-sm-12">
			              <label class="control-label">{{ entry_rating }}</label>
							<div class="product-rating">
								<input class="hidden" id="rating1" type="radio" name="rating" value="1" /><label class="star-rating label-star-prod" for="rating1"></label>
								<input class="hidden" id="rating2" type="radio" name="rating" value="2" /><label class="star-rating label-star-prod" for="rating2"></label>
								<input class="hidden" id="rating3" type="radio" name="rating" value="3" /><label class="star-rating label-star-prod" for="rating3"></label>
								<input class="hidden" id="rating4" type="radio" name="rating" value="4" /><label class="star-rating label-star-prod" for="rating4"></label>
								<input class="hidden" id="rating5" type="radio" name="rating" value="5" /><label class="star-rating label-star-prod" for="rating5"></label>
							</div>
			              </div>
			                <script>
			                  $('.label-star-prod').hover(function () {
			                    $(this).prevAll('.label-star-prod').addClass('active');
			                    $(this).addClass('active');
			                  },function () {
			                    $(this).prevAll('.label-star-prod').removeClass('active');
			                    $(this).removeClass('active');
			                  });

			                  $('.label-star-prod').click(function(){
			                    $('.label-star-prod').each(function(){
			                      $(this).removeClass('checked');
			                      $(this).prevAll('.label-star-prod').removeClass('checked');
			                    });

			                    $(this).addClass('checked');
			                    $(this).prevAll('.label-star-prod').addClass('checked');
			                  });
			               </script>
			            </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                  </div>
                </div>
					<div class="form-group">
						<div {% if (show_review_plus == '0') %}style="display:none;"{% endif %} class="col-sm-12 col-lg-6 {% if (show_review_plus_requared) %}required{% endif %}">
						<label class="control-label" for="input-review-plus">{{ entry_plus }}</label>
						<textarea name="plus" rows="5" id="input-review-plus" class="form-control"></textarea>
					</div>
					<div {% if (show_review_minus == '0') %}style="display:none;"{% endif %} class="col-sm-12 col-lg-6 {% if (show_review_minus_requared) %}required{% endif %}">
						<label class="control-label" for="input-review-minus">{{ entry_minus }}</label>
						<textarea name="minus" rows="5" id="input-review-minus" class="form-control"></textarea>
					</div>
				</div>
					<div class="help-block">{{ text_note }}</div>

                 {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-left">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ btn_add_new_review }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}
          </div>
		</div>
		{% if tags %}
		<div class="col-sm-12 mt-20 mb-10">
		{{ text_tags }}
		{% for i in 0..tags|length - 1 %}
		{% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
		{% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
		{% endfor %}
		</div>
		{% endif %}
 </div>
	{% if (products) %}
	{% set related_rand = random(10, 100) %}
		<div class="row">
		<div class="col-sm-12">
		<div class="container-module">
			<div class="title-module"><span>{{ text_related }}</span></div>
			<div class="product-slider">
			<div class="featured related_products{{ related_rand }}">
			{% for product in products %}
				<div class="item h-auto">
					<div class="product-thumb dflex flex-column h-100">
						<div class="image">
							<div class="stickers-ns">
								{% if ((on_off_sticker_special == '1') and product.special) %}
									<div class="sticker-ns special">
										<i class="fa {{ config_change_icon_sticker_special }} "></i>
										<span>{{ text_sticker_special[lang_id].config_change_text_sticker_special }}</span>
									</div>
								{% endif %}
								{% if ((on_off_sticker_topbestseller == '1') and (product.top_bestsellers >= config_limit_order_product_topbestseller)) %}
									<div class="sticker-ns bestseller">
										<i class="fa {{ config_change_icon_sticker_topbestseller }} "></i>
										<span>{{ text_sticker_topbestseller[lang_id].config_change_text_sticker_topbestseller }}</span>
									</div>
								{% endif %}
								{% if ((on_off_sticker_popular == '1') and (product.viewed>=config_min_quantity_popular)) %}
									<div class="sticker-ns popular">
										<i class="fa {{ config_change_icon_sticker_popular }} "></i>
										<span>{{ text_sticker_popular[lang_id].config_change_text_sticker_popular }}</span>
									</div>
								{% endif %}
								{% if ((on_off_sticker_newproduct == '1') and product.sticker_new_prod ) %}
									<div class="sticker-ns newproduct">
										<i class="fa {{ config_change_icon_sticker_newproduct }}"></i>
										{{ text_sticker_newproduct[lang_id].config_change_text_sticker_newproduct }}
									</div>
								{% endif %}
							</div>
							<a href="{{ product.href }}"><img decoding="async" width="{{ product.width }}" height="{{ product.height }}" {% if (product.additional_image_hover) %}data-additional-hover="{{ product.additional_image_hover }}"{% endif %} loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" class="img-responsive" /></a>
							{% if (show_special_timer_module == '1' and product.special) %}
								<div class="action-timer" data-date-end="{{ product.date_end }}"></div>
							{% endif %}
						</div>
						<div class="caption dflex flex-column flex-grow-1">
							<div class="product-name"><a href="{{ product.href }}"><span>{{ product.name }}</span></a></div>
							{% if (show_stock_status) %}
								{% if (product.product_quantity <= 0) %}
									<div class="stock-status outofstock">{{ product.stock_status }}</div>
								{% else %}
									<div class="stock-status instock">
										<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.68141 3.6147C7.89421 3.43872 8.20938 3.46857 8.38537 3.68137C8.54179 3.87052 8.53559 4.14057 8.38283 4.32184L8.3187 4.38532L4.40526 7.62168L2.72378 6.50696C2.49362 6.35438 2.43073 6.04411 2.58331 5.81395C2.71894 5.60936 2.97916 5.53694 3.19697 5.63054L3.27633 5.67348L4.33905 6.37801L7.68141 3.6147Z" fill="#00BC52"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 8.53757 2.46243 11 5.5 11C8.53757 11 11 8.53757 11 5.5ZM1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 7.98528 7.98528 10 5.5 10C3.01472 10 1 7.98528 1 5.5Z" fill="#00BC52"/></svg>
										{{ text_instock }}
									</div>
								{% endif %}
							{% endif %}
							{% if (setting_module.status_model is defined and (setting_module.status_model == '1')) %}
								<div class="product-model">{{ product.model}}</div>
							{% endif %}
							{% if (setting_module.status_description is defined and (setting_module.status_description == '1')) %}
								<div class="product-description">{{ product.description }}</div>
							{% endif %}
							{% if (setting_module.status_rating is defined and (setting_module.status_rating == '1')) %}
							<div class="rating">
								<span class="rating-box">
									{% set i = 1 %}{% for i in i..5 %}
										{% if (product.rating < i) %}
											<span class="product-rating-star">
												<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
													<path fill="#E9ECEF" fill-rule="evenodd" d="M6 10.283l-2.972 1.634c-.498.274-1.08-.168-.985-.748l.567-3.46-2.404-2.45c-.403-.41-.18-1.126.376-1.21l3.323-.506L5.391.396a.666.666 0 011.218 0l1.486 3.147 3.323.505c.557.085.78.8.376 1.21L9.39 7.709l.567 3.46c.095.58-.487 1.023-.985.749L6 10.283z" clip-rule="evenodd"/>
												</svg>
											</span>
										{% else %}
											<span class="product-rating-star">
												<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 12 12">
													<path fill="#E5DB77" fill-rule="evenodd" d="M6 10.283l-2.972 1.634c-.498.274-1.08-.168-.985-.748l.567-3.46-2.404-2.45c-.403-.41-.18-1.126.376-1.21l3.323-.506L5.391.396a.666.666 0 011.218 0l1.486 3.147 3.323.505c.557.085.78.8.376 1.21L9.39 7.709l.567 3.46c.095.58-.487 1.023-.985.749L6 10.283z" clip-rule="evenodd"/>
												</svg>
											</span>
										{% endif %}
									{% endfor %}
								{% if (setting_module.status_quantity_reviews is defined and (setting_module.status_quantity_reviews == '1')) %}
									<span class="quantity-reviews"><a data-placement="right"  data-toggle="tooltip" title="{{ text_reviews_title }}" href="{{ product.href }}#tab-review">{{ product.reviews }}</a></span>
								{% endif %}
								</span>
							</div>
							{% endif %}
							<div class="price-actions-box dflex flex-wrap mt-auto">
								{% if (product.price) %}
								<div class="price" data-price-no-format="{{ product.price_no_format }}" data-special-no-format="{{ product.special_no_format }}">
									  {% if (not product.special) %}
									  <span class="price_no_format">{{ product.price }}</span>
									  {% else %}
									  <span class="price-old"><span class="price_no_format">{{ product.price }}</span>
									  {% if ((on_off_percent_discount == '1') and product.special) %}<span class="sticker-ls-pd procent-skidka">{{ product.skidka }} %</span>{% endif %}</span>
									  <span class="price-new"><span class="special_no_format">{{ product.special }}</span></span>
									  {% endif %}
									  {% if (product.tax) %}
									  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
									  {% endif %}
								</div>
								{% if (config_additional_settings_luxshop.quantity_btn_module is defined and (config_additional_settings_luxshop.quantity_btn_module == '1')) %}
									<div class="quantity_plus_minus">
										<span class="add-up add-action">
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
												<path fill="#000" fill-rule="evenodd" d="M3.826 2.144a.5.5 0 00-.707.004L.856 4.438a.5.5 0 01-.712-.704l2.264-2.289a1.5 1.5 0 012.121-.012L6.852 3.73a.5.5 0 11-.704.711L3.826 2.144z" clip-rule="evenodd"/>
											</svg>
										</span>
										<input type="text" class="quantity-num form-control" name="quantity" value="{{ product.minimum }}" data-minimum="{{ product.minimum }}"  {% if (config_additional_settings_luxshop.quantity_multiple is defined and (config_additional_settings_luxshop.quantity_multiple == '1') and product.minimum > 1) %}disabled{% endif %}>
										<span class="add-down add-action">
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
												<path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"/>
											</svg>
										</span>
									</div>
								{% endif %}
								{% endif %}
								<div class="actions w-100">
									<div class="cart"><button class="btn btn-general" type="button" {% if ((product.product_quantity <= 0) and disable_cart_button) %}disabled{% else %}onclick="cart.add('{{ product.product_id }}',this)"{% endif %}><span class="icon-cart-add"></span><span class="text-cart-add">{% if (change_text_cart_button_out_of_stock == 1 and product.product_quantity <= 0) %}{{ disable_cart_button_text }}{% else %}{{ button_cart }}{% endif %}</span></button></div>
									<div class="addit-action">
										{% if (config_on_off_featured_quickview == '1') %}
											<div class="quickview"><button class="btn btn-quickview" title="{{ config_quickview_btn_name[lang_id].config_quickview_btn_name }}" onclick="quickview_open({{ product.product_id}});"><span class="btn-icon-quickview"></span></button></div>
										{% endif %}
										{% if (setting_module.status_fastorder is defined and (setting_module.status_fastorder == '1')) %}
										{% if ((not disable_fastorder_button and ((product.product_quantity <= 0) or product.product_quantity > 0)) or (disable_fastorder_button and product.product_quantity > 0)) %}
											<div class="quick-order">
											<button class="btn btn-fastorder" title="{{ config_text_open_form_send_order[lang_id].config_text_open_form_send_order }}" type="button" onclick="fastorder_open({{ product.product_id}});" {% if ((product.product_quantity <= 0) and disable_fastorder_button) %}disabled{% endif %}>
												<span class="btn-icon-fastorder"></span>
											</button>
										  </div>
										{% endif %}
										{% endif %}
										{% if (setting_module.status_compare is defined and (setting_module.status_compare == '1')) %}
										<div class="compare"><button class="btn btn-compare" type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><span class="btn-icon-compare"></span></button></div>
										{% endif %}
										{% if (setting_module.status_wishlist is defined and (setting_module.status_wishlist == '1')) %}
											<div class="wishlist"><button class="btn btn-wishlist" type="button" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="btn-icon-wishlist"></span></button></div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			</div>
		</div>
		</div>
		</div>
		<script>
slickSliderModule(".related_products{{ related_rand }}");
</script>
	{% endif %}
    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
$('.thumbnails #image-box').on('click', function(e){
  e.preventDefault();
	if ($('.thumbnails .slider-main-img .item').length > 0) {
		var opennumimage = $('.slider-main-img').slick('slickCurrentSlide');
		var $links = $('[data-fancybox="gallery"]');
		$.fancybox.open( $links, {}, opennumimage );
		return false;
	} else {
		var $links = $that,
		opts = { caption: $that.find('img').attr('title') };
		$.fancybox.open( $links, opts, 0 );
		return false;
	}
});
{% if (config_status_zoom_image != '0') %}
  $(window).resize(function() {
	if ($(this).width() < 992) {
	  $('.main-image').removeClass('cloud-zoom');
	  $('.dop-img').removeClass('cloud-zoom-gallery');
	}
  });
if ($(window).width() > 992) {
  $(document).on('mouseenter','.slider-main-img a.thumbnail', function(e){
	  var $element_zoom = $(this);
	  e.preventDefault();
	  $('#wrap a.thumbnail').not(this).unwrap();
	  $('.mousetrap').remove();
	  $element_zoom.addClass('cloud-zoom');
	  $element_zoom.CloudZoom({position: 'inside'});
  });
}
{% endif %}
function optionimage(image, image_zoom,image_thumb) {
	{% if (images) %}
		if($('.option-image-new').length > 0) {
			var slideIndex = Number($('.slider-main-img .slick-slide:last-child').attr('data-slick-index'));
			$('.slider-main-img .item.option-image-new a').replaceWith('<a data-fancybox="gallery" class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="'+ slideIndex +'" src="'+ image +'" /></a>');
			$('.slider-main-img').slick('slickGoTo', Number($('.slider-main-img .slick-slide:last-child').attr('data-slick-index')),  true);
		} else {
			var num_im_last = Number($('.slider-main-img .slick-slide:last-child img').attr('data-num')) + 1;
			$('.slider-main-img').slick('slickAdd','<div><div class="item option-image-new"><a data-fancybox="gallery" class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="'+ num_im_last +'" src="'+ image +'" /></a></div></div>');
			$('.slider-main-img').slick('slickGoTo', Number($('.slider-main-img .slick-slide:last-child').attr('data-slick-index')),  true);
		}
	{% else %}
		$('.general-image').addClass('have-images');
		if($('.option-image-new').length > 0) {
			$('.slider-main-img .item.option-image-new a').replaceWith('<a data-fancybox="gallery" class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="1" src="'+ image +'" /></a>');
		} else {
			$('.slider-main-img').slick('slickAdd','<div><div class="item option-image-new"><a data-fancybox="gallery" class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="1" src="'+ image +'" /></a></div></div>');
		}
		if($('.image-additional').length > 0) {
			$('.op-img img').replaceWith('<img data-num="1" src="'+ image_thumb +'" />');
		}
		if($('.thumbnails .image-additional').length == 0) {
			$('.thumbnails').append('<div class="image-additional"><div class="item"><a class="thumbnail" href="javascript:void(0)"><img data-num="0" src="{{ thumb_min }}" /></a></div><div class="item"><a class="thumbnail op-img" href="javascript:void(0)"><img data-num="1" src="'+ image_thumb +'" /></a></div></div>');
			setTimeout(function () {
				$(".thumbnails .image-additional").slick({
					vertical:false,
					prevArrow: "<div class='btn-slick-prev-h'><svg xmlns='http://www.w3.org/2000/svg' width='8' height='14' fill='none' viewBox='0 0 8 14'><path stroke='#000' stroke-linecap='round' d='M6 12L1.711 7.76a1 1 0 01-.008-1.415L6 2'/></svg></div>",
					nextArrow: "<div class='btn-slick-next-h'><svg xmlns='http://www.w3.org/2000/svg' width='8' height='14' fill='none' viewBox='0 0 8 14'><path stroke='#000' stroke-linecap='round' d='M2 2l4.289 4.24a1 1 0 01.008 1.415L2 12'/></svg></div>",
					focusOnSelect: true,
					asNavFor: '.slider-main-img',
					adaptiveHeight: true,
					infinite: false,
					slidesToShow: 5,
				});
				$('.image-additional').slick('initializeEvents');
				$('.slider-main-img').slick('slickGoTo', 1, true);
			}, 200);
		}
	{% endif %}
}

if ($(window).width() < 768) {
	$(document).on('click','#product .image-radio .image-option [data-toggle="tooltip"]', function(){
		var toolTipId = $(this).attr('aria-describedby');
		$('.tooltip').not('#'+ toolTipId).tooltip('hide');
		var $element_tooltip_mob = $(this);
		$element_tooltip_mob.tooltip({ placement: 'top', trigger: 'click' , container: 'body'});
		$element_tooltip_mob.tooltip('show');
	});
}

$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});

$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
				$('.options').removeClass('hidden-options');
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
						$('html, body').animate({ scrollTop: $('.options').offset().top - 10}, 250);
						setTimeout(function () {
			  				$('.option-danger, .alert, .text-danger').remove();
						}, 7000);
						$('#top').before('<div class="alert option-danger"><img class="success-icon" alt="success-icon" src="catalog/view/theme/luxshop/image/warning-icon.svg"><div class="text-modal-block">' + json['error']['option'][i] + '</div><button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

				if (json['success']) {
					if(json['popup_design']=='1'){
						fastorder_open_cart();
					} else if(json['popup_design']=='0') {
						html  = '<div id="modal-addcart" class="modal fade" role="dialog">';
						html += '  <div class="modal-dialog" style="overflow:hidden">';
						html += '    <div class="modal-content">';
						if(json['show_onepagecheckout']=='1'){
						html += '      	<div class="modal-body"><div class="text-center">' + json['success'] + '<br><img style="margin:10px 0px;" src="'+ json['image_cart'] +'"  /><br></div><div><a href=' + link_onepcheckout + ' class="btn-checkout">'+ button_checkout +'</a><button data-dismiss="modal" class="btn-shopping">'+ button_shopping +'</button></div></div>';
						} else {
						html += '      	<div class="modal-body"><div class="text-center">' + json['success'] + '<br><img style="margin:10px 0px;" src="'+ json['image_cart'] +'"  /><br></div><div><a href=' + link_checkout + ' class="btn-checkout">'+ button_checkout +'</a><button data-dismiss="modal" class="btn-shopping">'+ button_shopping +'</button></div></div>';
						}
						html += '    </div>';
						html += '  </div>';
						html += '</div>';
						$('body').append(html);
						$('#modal-addcart').modal('show');
					} else {
						$('#top').before('<div class="alert add_product_alert"><img class="success-icon" alt="success-icon" src="catalog/view/theme/luxshop/image/success-icon.svg"><div class="text-modal-block">' + json['success'] + '</div><button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					}
					  setTimeout(function () {
						$('.option-danger, .alert, .text-danger,.add_product_alert').remove();
					  }, 7000);
					  setTimeout(function () {
						$('.cart-total').html(json['total']);
					  }, 100);

					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
				$('#modal-addcart').on('hide.bs.modal', function (e) {
					$('#modal-addcart').remove();
				});
		}
	});
});
{% if (load_datetimepicker) %}
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: false
});
{% endif %}
$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

$('#review').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();

	$('#review').fadeOut('slow');

	$('#review').load(this.href);

	$('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('#form-review textarea[name=\'plus\']').val('');
				$('#form-review textarea[name=\'minus\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

var url = document.location.toString();
if (url.match('#tab-review')) {
$('a[href=\'#tab-review\']').trigger('click');
}
</script>
{% if (fix_right_block is defined and (fix_right_block == '1')) %}
<script>
$( document ).ready(function() {
	var fix_rb = document.querySelector('#fix_right_block');
	var inner_fix_rb = null;
	window.addEventListener('scroll', RightBlockScroll);
	document.body.addEventListener('scroll', RightBlockScroll);
	window.addEventListener('resize', RightBlockScroll);
	document.body.addEventListener('resize', RightBlockScroll);
	RightBlockScroll();

function RightBlockScroll() {
	var top_rb = 15;

	if($('.fix-header-2.h-sticky').length == 1) {
		if ($(window).width() > 992) {
			var top_rb = $('.fix-header-2.h-sticky').outerHeight() + 15;
		}
	}
	if($('#top-fixed').length == 1) {
		if ($(window).width() > 992) {
			var top_rb = $('#top-fixed').outerHeight() + 15;
		}
	}


	if ($(window).width() > 992) {
		document.getElementById("fix_right_block").className = "fix_true";
	} else {
		document.getElementById("fix_right_block").className = "fix_false";
		$('#fix_right_block > div').removeAttr('style');
		$('#fix_right_block').removeAttr('style');
	}

	if (!!$('.fix_true').offset()) {
		if (inner_fix_rb == null) {
			var Sa = getComputedStyle(fix_rb, ''), s = '';
			inner_fix_rb = document.createElement('div');
			inner_fix_rb.style.cssText = s + 'width: ' + fix_rb.offsetWidth + 'px;';
			fix_rb.insertBefore(inner_fix_rb, fix_rb.firstChild);
			var l = fix_rb.childNodes.length;
			for (var i = 1; i < l; i++) {
			  inner_fix_rb.appendChild(fix_rb.childNodes[1]);
			}
		}
		inner_fix_rb.style.width = fix_rb.offsetWidth + 'px';
		var Ra = fix_rb.getBoundingClientRect(),
		Rrb = Math.round(Ra.top + inner_fix_rb.getBoundingClientRect().height - document.querySelector('.cbp').getBoundingClientRect().bottom + 0);
		Rrb2 = Math.round(Ra.top + inner_fix_rb.getBoundingClientRect().height - document.querySelector('.cbp').getBoundingClientRect().top);
		Rrb3 = Math.round(Ra.top + inner_fix_rb.getBoundingClientRect().height - document.querySelector('.cbp').getBoundingClientRect().top - 220);
		if ((Ra.top - top_rb) <= 0) {
			if ((Ra.top - top_rb) <= Rrb) {
			  inner_fix_rb.className = 'stop';
			  inner_fix_rb.style.top = - Rrb +'px';

			  	if ((Ra.top - top_rb) <= Rrb2) {
					$('.cbp').css('margin-right',fix_rb.offsetWidth + 10);
				}else{
					$('.cbp').removeAttr('style');
				}


			} else {

				if ((Ra.top - top_rb) <= Rrb2) {
					$('.cbp').css('margin-right',fix_rb.offsetWidth + 10);
				}else{
					$('.cbp').removeAttr('style');
				}
			  inner_fix_rb.className = 'sticky';
			  inner_fix_rb.style.top = top_rb + 'px';

			}
		} else {
			inner_fix_rb.className = '';
			inner_fix_rb.style.top = '';
		}
	} else {
		$('.cbp').removeAttr('style');
	}
}

});
</script>
{% endif %}
<script>
$('.tabs__active_line').css({
	'width':$('.tabs__header__scroll .my-tabs li.active').outerWidth() + 10,
	'left':$('.tabs__header__scroll .my-tabs li.active').offset().left - $('.tabs__header__scroll > .my-tabs').offset().left
});
$('.tabs__header__scroll .my-tabs li a').click(function(){
	$('.tabs__active_line').css({
		'width':$(this).outerWidth(),
		'left':$(this).parent().offset().left - $('.tabs__header__scroll > .my-tabs').offset().left
	});

	let width_block = $('.tabs__header__scroll').width();
	let li_width = $(this).outerWidth();
	let li_left = $(this).parent().offset().left - $('.tabs__header__scroll > .my-tabs').offset().left;
	let goLeft = li_left - (width_block / 2) + (li_width / 2);
	if(goLeft > 0){
		$('.tabs__header__scroll').animate({scrollLeft:goLeft})
	} else {
		$('.tabs__header__scroll').animate({scrollLeft:0})
	}
	if (viewport().width < 768) {
		$('html, body').animate({ scrollTop: $('.tab-content').offset().top - 115}, 250);
	}
});
function goTab(selector){
	$('a[href='+ selector +']').trigger('click');
	var top_tab = 15;
	if ($(window).width() > 992) {
		if($('.fix-header-2.h-sticky').length == 1) {
			var top_tab = $('.fix-header-2.h-sticky').outerHeight() + 15;
			var top_tab = $('.tabs__header').outerHeight();

		}
		if($('#top-fixed').length == 1) {
			var top_tab = $('#top-fixed').outerHeight() + 15;
		}
	}
	$('html, body').animate({ scrollTop: $(selector).offset().top - top_tab - $('.tabs__header').outerHeight() - 40}, 250);
}
</script>

        {% if (fcpdata['status'] is defined and fcpdata['status']) %} 
        <script>
		{% if (fcpdata_css is not empty) %} 
        addStyleHeader('{{ fcpdata_css }}');
        {% endif %}
        function open_popup_fcp(product_id) {
			$.ajax({
				type:'get',
				url:'index.php?route=extension/module/luxshop_found_cheaper_product&product_id='+product_id,
				beforeSend: function() {
					creatOverlayLoadPage(true);
				},
				complete: function() {
					creatOverlayLoadPage(false);
				},
				success:function (data) {
					html  = '<div id="modal-found-cheaper" class="modal fade" role="dialog">';
					html += '	<div class="modal-dialog modal-4">';
					html += '		<div class="modal-content">';
					html += '			<div class="modal-body"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'+ data +'</div>';
					html += '		</div>';
					html += '	</div>';
					html += '</div>';

					$('html body').append(html);
					$('#modal-found-cheaper').modal('show');
				}
			});
        }
        </script>
        {% endif %}
      


{% if (ls_microdata_status is defined and (ls_microdata_status == 1)) %}
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "BreadcrumbList",
"itemListElement":
[
{% for key,breadcrumb in breadcrumbs %}
{
	"@type": "ListItem",
	"position": {{ key + 1 }},
	"item":
		{
		"@id": "{{ breadcrumb['href'] }}",
		"name": "{{ breadcrumb['text'] }}"
		}
}{% if (key+1 < breadcrumbs|length) %},{% endif %}
{% endfor %}
]
}
</script>
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Product",
"url": "{{ url_product }}",
"image": "{{ thumb }}",
{% if (microdata_category_name) %}
"category": "{{ microdata_category_name }}",
{% endif %}
{% if (manufacturer) %}
"brand": {"@type": "Brand","name": "{{ manufacturer }}"},
"manufacturer": "{{ manufacturer }}",
{% endif %}
"model": "{{ model }}",
"productID": "{{ productID }}",
{% if (sku is not empty) %}
"sku":"{{ sku }}",
{% endif %}
{% if (rating) %}
"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": "{{ ratingValue }}",
"reviewCount": "{{ reviewCount }}",
"bestRating": "5",
"worstRating": "1"
},
{% endif %}
"description": "{{ microdata_description }}",
"name": "{{ heading_title }}",
"offers": {
"@type": "Offer",
"url": "{{ url_product }}",
"availability": "https://schema.org/{{ availability ? 'InStock' : 'OutOfStock' }}",
"price": "{{ schema_price }}",
"priceCurrency": "{{ microdata_currency }}",
"itemCondition": "https://schema.org/NewCondition",
"priceValidUntil": "{{ priceValidUntil }}"
}
{% if (reviewsMicrodata) %}
,"review": [
{% for key_r,res_r in reviewsMicrodata %}
{
"@type": "Review",
"author": {"@type": "Person","name": "{{ res_r['author'] }}"},
"datePublished": "{{ res_r['date_added'] }}",
"description": "{{ res_r['text'] }}",
"reviewRating": {
	"@type": "Rating",
	"bestRating": "5",
	"ratingValue": "{{ res_r['rating'] }}",
	"worstRating": "1"
	}
}{% if (key_r+1 < reviewsMicrodata|length) %},{% endif %}
{% endfor %}
]
{% endif %}
{% if (attribute_groups) %}
,"additionalProperty": [
{% for key_ag,attribute_group in attribute_groups %}
{% for key_a,attribute in attribute_group['attribute'] %}
{
"@type": "PropertyValue",
	"name": "{{ attribute['name'] }}",
	"value": "{{ attribute['text'] }}"
}{% if (key_a+1< attribute_group['attribute']|length) %},{% endif %}
{% endfor %}
{% if (key_ag+1< attribute_groups|length) %},{% endif %}
{% endfor %}
]
{% endif %}
{% if (products) %}
,"isRelatedTo": [
{% for key_p,product in products %}
{
"@type": "Product",
"image": "{{ product['thumb'] }}",
"url": "{{ product['href'] }}",
"name": "{{ product['name'] }}",
"description": "{{ product['microdata_description'] }}",
"offers": {
"@type": "Offer",
"price": "{{ product['microdata_price'] }}",
"priceCurrency": "{{ microdata_currency }}"
}
}{% if (key_p+1< products|length) %},{% endif %}{% endfor %}]{% endif %}
}
</script>
{% endif %}


<script>
function price_format_autocalc(n)
{ 
    c = {{ currency_autocalc.decimals is empty ? 0 : currency_autocalc.decimals }};
    d = '{{ currency_autocalc.decimal_point }}'; 
    t = '{{ currency_autocalc.thousand_point }}'; 
    s_left = '{{ currency_autocalc.symbol_left }}';
    s_right = '{{ currency_autocalc.symbol_right }}';
     
    n = n * {{ currency_autocalc.value }};
    i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 

    j = ((j = i.length) > 3) ? j % 3 : 0; 
    return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right; 
}

function calculate_tax_autocalc(price)
{
    {# Process Tax Rates #}
 {% if (tax_rates is defined and tax) %}
 {% for tax_rate in tax_rates %} 
 {% if (tax_rate.type == 'F') %}
 {{ 'price += '~tax_rate.rate~';' }}
 {% elseif (tax_rate.type == 'P') %}
 {{ 'price += (price * '~tax_rate.rate~') / 100.0;' }}
 {% endif %}
 {% endfor %}
 {% endif %}
 
    return price;
}

function process_discounts_autocalc(price, quantity)
{
     {% for discount in dicounts_unf_autocalc %} 
 {{ 'if ((quantity >= '~discount.quantity~') && ('~discount.price~' < price)) price = '~discount.price~';'~"\n" }}
 {% endfor %}
 
    return price;
}


animate_delay = 10;

main_price_autocalc_final = calculate_tax_autocalc({{ price_value }});
main_price_autocalc_start = calculate_tax_autocalc({{ price_value }});
main_step = 0;
main_timeout_id = 0;

function animateMainPrice_callback() {
    main_price_autocalc_start += main_step;
    
    if ((main_step > 0) && (main_price_autocalc_start > main_price_autocalc_final)){
        main_price_autocalc_start = main_price_autocalc_final;
    } else if ((main_step < 0) && (main_price_autocalc_start < main_price_autocalc_final)) {
        main_price_autocalc_start = main_price_autocalc_final;
    } else if (main_step == 0) {
        main_price_autocalc_start = main_price_autocalc_final;
    }
    
    $('.autocalc-product-price').html( price_format_autocalc(main_price_autocalc_start) );
    
    if (main_price_autocalc_start != main_price_autocalc_final) {
        main_timeout_id = setTimeout(animateMainPrice_callback, animate_delay);
    }
}

function animateMainPriceAutocalc(price) {
    main_price_autocalc_start = main_price_autocalc_final;
    main_price_autocalc_final = price;
    main_step = (main_price_autocalc_final - main_price_autocalc_start) / 10;
    
    clearTimeout(main_timeout_id);
    main_timeout_id = setTimeout(animateMainPrice_callback, animate_delay);
}


{% if (special) %} 
special_autocalc_price_final = calculate_tax_autocalc({{ special_value }});
special_autocalc_price_start = calculate_tax_autocalc({{ special_value }});
special_autocalc_step = 0;
special_autocalc_timeout_id = 0;

function animateSpecialPrice_autocalc_callback_autocalc() {
    special_autocalc_price_start += special_autocalc_step;
    
    if ((special_autocalc_step > 0) && (special_autocalc_price_start > special_autocalc_price_final)){
        special_autocalc_price_start = special_autocalc_price_final;
    } else if ((special_autocalc_step < 0) && (special_autocalc_price_start < special_autocalc_price_final)) {
        special_autocalc_price_start = special_autocalc_price_final;
    } else if (special_autocalc_step == 0) {
        special_autocalc_price_start = special_autocalc_price_final;
    }
    
    $('.autocalc-product-special').html( price_format_autocalc(special_autocalc_price_start) );
    
    if (special_autocalc_price_start != special_autocalc_price_final) {
        special_autocalc_timeout_id = setTimeout(animateSpecialPrice_autocalc_callback_autocalc, animate_delay);
    }
}

function animateSpecialPrice_autocalc(price) {
    special_autocalc_price_start = special_autocalc_price_final;
    special_autocalc_price_final = price;
    special_autocalc_step = (special_autocalc_price_final - special_autocalc_price_start) / 10;
    
    clearTimeout(special_autocalc_timeout_id);
    special_autocalc_timeout_id = setTimeout(animateSpecialPrice_autocalc_callback_autocalc, animate_delay);
}
{% endif %} 


function recalculateprice_autocalc()
{
    var main_price_autocalc = {{ price_value }};
    var input_quantity = Number($('#product input[name="quantity"]').val());
    {% if special %} 
		var special_autocalc = {{ special_value }};
	{% else %} 
		var special_autocalc = 0;
	{% endif %} 
    var tax = 0;
    
    if (isNaN(input_quantity)) input_quantity = 0;
    
    {% if special %} 
        special_coefficient = {{ price_value/special_value }};
    {% endif %} 
    main_price_autocalc = process_discounts_autocalc(main_price_autocalc, input_quantity);
    tax = process_discounts_autocalc(tax, input_quantity);
    
    
    var option_price = 0;
    
    {% if points %} 
      var points = {{ points_value }};
      $('input:checked,option:selected').each(function() {
          if ($(this).data('points')) points += Number($(this).data('points'));
      });
      $('.autocalc-product-points').html(points);
    {% endif %} 
    
    $('input:checked,option:selected').each(function() {
      if ($(this).data('prefix') == '=') {
        option_price += Number($(this).data('price'));
        main_price_autocalc = 0;
        special_autocalc = 0;
      }
    });
    
    $('input:checked,option:selected').each(function() {
      if ($(this).data('prefix') == '+') {
        option_price += Number($(this).data('price'));
      }
      if ($(this).data('prefix') == '-') {
        option_price -= Number($(this).data('price'));
      }
      if ($(this).data('prefix') == 'u') {
        pcnt = 1.0 + (Number($(this).data('price')) / 100.0);
        option_price *= pcnt;
        main_price_autocalc *= pcnt;
        special_autocalc *= pcnt;
      }
      if ($(this).data('prefix') == 'd') {
        pcnt = 1.0 - (Number($(this).data('price')) / 100.0);
        option_price *= pcnt;
        main_price_autocalc *= pcnt;
        special_autocalc *= pcnt;
      }
      if ($(this).data('prefix') == '*') {
        option_price *= Number($(this).data('price'));
        main_price_autocalc *= Number($(this).data('price'));
        special_autocalc *= Number($(this).data('price'));
      }
    });
    
    special_autocalc += option_price;
    main_price_autocalc += option_price;

    {% if special %} 
      main_price_autocalc = special_autocalc * special_coefficient;
      tax = special_autocalc;
    {% else %} 
      tax = main_price_autocalc;
    {% endif %} 
    
    // Process TAX.
    main_price_autocalc = calculate_tax_autocalc(main_price_autocalc);
    special_autocalc = calculate_tax_autocalc(special_autocalc);
    
    // Раскомментировать, если нужен вывод цены с умножением на количество
    main_price_autocalc *= input_quantity;
    special_autocalc *= input_quantity;
    tax *= input_quantity;

    // Display Main Price
    animateMainPriceAutocalc(main_price_autocalc);
      
    {% if special %} 
      animateSpecialPrice_autocalc(special_autocalc);
    {% endif %} 
}

$(document).ready(function() {
    $('#product input[type="checkbox"]').bind('change', function() { recalculateprice_autocalc(); });
    $('#product input[type="radio"]').bind('change', function() { recalculateprice_autocalc(); });
    $('#product select').bind('change', function() { recalculateprice_autocalc(); });
    
    $quantity_autocalc = $('#product input[name="quantity"]');
    $quantity_autocalc.data('val', $quantity_autocalc.val());
    (function() {
        if ($quantity_autocalc.val() != $quantity_autocalc.data('val')){
            $quantity_autocalc.data('val',$quantity_autocalc.val());
            recalculateprice_autocalc();
        }
        setTimeout(arguments.callee, 250);
    })();    
    
    {% if (config_additional_settings_luxshop['price_recalc'] is defined and (config_additional_settings_luxshop['price_recalc'] == '1')) %}
    recalculateprice_autocalc();
	{% endif %}
});
</script>
      
{{ footer }}