<div class="row dflex {% if (type_view_mob == 0) %} flex-xs-nowrap {% endif %} flex-sm-wrap banner-blocks-container">
	{% for block in blocks %}
	<div class="mt-10 mb-10 {% if (type_view_mob == 0) %}bb-col-xs {% else %}col-xs-12 {% endif %} col-sm-6 col-md-{{ banner_column }}">
		<div class="banner-item dflex h-100 align-items-center {% if ((block.popup == '1') and (block.link[language_id] != '') or (block.popup == '0') and (block.link[language_id] != '')) %}is_a_link{% endif %}" {% if ((block.popup == '1') and (block.link[language_id] != '')) %} onclick="banner_link_open('{{ block.link[language_id]}}')"{% elseif ((block.popup == '0') and (block.link[language_id] != '')) %} onclick="location='{{ block.link[language_id] }}'"{% endif %}>
			<div class="banner-image">
				<img decoding="async" width="{{ block.width }}" height="{{ block.height }}" loading="lazy" src="{{ block.image }}" alt="{{ block.title[language_id] }}" class="img-responsive" />
			</div>
			<div class="banner-info">
				<div class="banner-title">{{ block.title[language_id] }}</div>
				<div class="banner-description">{{ block.description[language_id] }}</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>