<div class="container-module row megasliderpro">
	<div id="mslider{{ module }}" class="carousel-container">
		{% set i = 1 %}
		{% for result in megasliders %}
			{% set class = "" %}
			{% if (result.type == 1) %} {% set class = "slide-type1" %} {% endif %}
			{% if (result.type == 2) %} {% set class = "slide-type2" %} {% endif %}

			<div class="item-ms{% if (i > 1) %} hidden{% endif %}">
			{% if (result.link is not empty) %}
				<a href="{{ result.link }}"><img width="{{ width }}" height="{{ height }}" {% if (key > 0) %}loading="lazy"{% endif %} class="bg-image-slider img-responsive" src="{{ result.image }}" alt=""/></a>
			{% else %}
				<img width="{{ width }}" height="{{ height }}" {% if (key > 0) %}loading="lazy"{% endif %} class="bg-image-slider img-responsive" src="{{ result.image }}" alt=""/>
			{% endif %}
				<div class="slick-caption">
					{% if (result.link is not empty) %}<a href="{{ result.link }}">{% endif %}
					<div class="{{ class }} container dflex">
						{% if (result.small_image) %}
							<div class="row-slider-small-img">
							<div class="msp-small_image">
								<img src="{{ result.small_image }}" alt="" title="small" />
							</div>
							</div>
						{% endif %}
						<div class="row-slider-info">
							{% if (result.title) %}
							<div class="msp-title effect_title{{ i }}{{ module }}">
								<div class="text-title" {% if (result.bg_title != '' or result.color_title) %}style="{% if (result.bg_title is not empty) %}background:{{ result.bg_title }};{% endif %} {% if (result.color_title is not empty) %}color:{{ result.color_title }}"{% endif %}{% endif %}>{{ result.title }}</div>
							</div>
							{% endif %}
							{% if (result.sub_title) %}
							<div class="sub-title effect_sub_title{{ i }}{{ module }}">
								<div class="text-sub-title" {% if (result.bg_sub_title != '' or result.color_sub_title) %}style="{% if (result.bg_title is not empty) %}background:{{ result.bg_sub_title }};{% endif %}{% if (result.color_sub_title is not empty) %}color:{{ result.color_sub_title }}"{% endif %}{% endif %}>{{ result.sub_title }}</div>
							</div>
							{% endif %}
							{% if (result.description is not empty) %}
							<div class="msp-des effect_description_title{{ i }}{{ module }}">
								{{ result.description }}
							</div>
							{% endif %}
							{% if (result.price is not empty) %}
							<div class="ms-price">
								<span class="ms-price-cont" {% if (result.price_bg != '') %}style="background:{{ result.price_bg }}"{% endif %}>
									<span class="ms-price-text"><span class="ms-price-from">{{ text_price_from }}</span>{{ result.price }}</span>
								</span>
							</div>
							{% endif %}
						</div>
					</div>
					{% if (result.link is not empty) %}</a>{% endif %}
				</div>
			</div>
			{% set i = i + 1 %}
		{% endfor %}
	</div>
{% set config = slide_setting[0] %}
<script>
addStyleHeader('{{ html_css }}');
$('#mslider{{ module }}').on('init', function (event, slick, currentSlide, nextSlide) {
	$('#mslider{{ module }} .item-ms').removeClass('hidden');
});
$('#mslider{{ module }}').slick({
	nextArrow: '<div class="slick-mod-arrow next-prod"><svg xmlns="http://www.w3.org/2000/svg" width="5" height="9" fill="none" viewBox="0 0 5 9"><path fill="#000" fill-rule="evenodd" d="M3.065 4.791a.5.5 0 00-.004-.65L.622 1.327a.5.5 0 01.756-.655l2.439 2.814a1.5 1.5 0 01.01 1.952L1.382 8.323a.5.5 0 11-.763-.646L3.065 4.79z" clip-rule="evenodd"/></svg></div>',
	prevArrow: '<div class="slick-mod-arrow prev-prod"><svg xmlns="http://www.w3.org/2000/svg" width="5" height="9" fill="none" viewBox="0 0 5 9"><path fill="#000" fill-rule="evenodd" d="M1.935 4.209a.5.5 0 00.004.65l2.439 2.814a.5.5 0 01-.756.655L1.183 5.514a1.5 1.5 0 01-.01-1.952L3.618.677a.5.5 0 11.763.646L1.935 4.21z" clip-rule="evenodd"/></svg></div>',
	infinite: true,
	adaptiveHeight: false,
	slidesToShow: 1,
	dotsClass: 'slick-dots slideshow',
	autoplay: true,
	autoplaySpeed: {% if (config.delay) %}'{{ config.delay }}'{% else %}5000{% endif %},
	pauseOnHover:  {% if (config.hover is defined and config.hover == 1) %} true {% else %} false{% endif %},
	arrows: {% if (config.nextback is defined and config.nextback == 1) %} true {% else %} false{% endif %},
	dots:  {% if (config.contrl is defined and config.contrl == 1) %} true {% else %} false{% endif %},
	fade: {% if (config.effect == 'fade') %}true{% else %}false{% endif %},
});
</script>
</div>