<div class="nextprevprod dflex">
    {% if (products.prev is defined) %}
		<button id="prev-prod-btn" type="button" onclick="location.href='{{ products.prev.href }}'" class="prev-product {% if (products.next is not defined) %}no-next{% endif %}">
		<span class="icon-prev">
		<svg xmlns="http://www.w3.org/2000/svg" width="5" height="9" fill="none" viewBox="0 0 5 9"><path fill="#000" fill-rule="evenodd" d="M1.935 4.209a.5.5 0 00.004.65l2.439 2.814a.5.5 0 01-.756.655L1.183 5.514a1.5 1.5 0 01-.01-1.952L3.618.677a.5.5 0 11.763.646L1.935 4.21z" clip-rule="evenodd"/></svg>
		</span>
		<span>{{ text_prev }}</span></button>
	{% endif %}
    {% if (products.next is defined) %}
		<button id="next-prod-btn" type="button" onclick="location.href='{{ products.next.href }}'" class="next-product {% if (products.prev is not defined) %}no-prev{% endif %}">
		<span>{{ text_next }}</span>
		<span class="icon-next">
		<svg xmlns="http://www.w3.org/2000/svg" width="5" height="9" fill="none" viewBox="0 0 5 9"><path fill="#000" fill-rule="evenodd" d="M3.065 4.791a.5.5 0 00-.004-.65L.622 1.327a.5.5 0 01.756-.655l2.439 2.814a1.5 1.5 0 01.01 1.952L1.382 8.323a.5.5 0 11-.763-.646L3.065 4.79z" clip-rule="evenodd"/></svg>
		</span>
	</button>
    {% endif %}
	<script>
	{% if (products.prev is defined) %}
	$('#prev-prod-btn').popover({
		html: true,
		placement: 'bottom',
		trigger: 'hover',
		content: function() {
			html  = '<div class="popover-pr-image"><img class="img-responsive" src="{{ products.prev.image }}" title="" alt="" /></div>';
			html += '<div class="popover-pr-name">{{ products.prev.name }}</div>';
			html += '<div class="price">';
			html += '	{% if (products.prev.price) %}';
			html += '	  {% if (not products.prev.special) %}';
			html += '		<span>{{ products.prev.price }}</span>';
			html += '	  {% else %}';
			html += '		<span class="price-old"><span>{{ products.prev.price }}</span></span> <span class="price-new"><span>{{ products.prev.special }}</span></span>';
			html += '	  {% endif %}';
			html += '	{% endif %}';
			html += '</div>';
			return html;
		}
	}).data('bs.popover').tip().addClass('popover-prev-prod');
	 {% endif %}
	 {% if (products.next is defined) %}
	$('#next-prod-btn').popover({
		html: true,
		placement: 'bottom',
		trigger: 'hover',
		content: function() {
			html  = '<div class="popover-pr-image"><img class="img-responsive" src="{{ products.next.image }}" title="" alt="" /></div>';
			html += '<div class="popover-pr-name">{{ products.next.name }}</div>';
			html += '<div class="price">';
			html += '	{% if (products.next.price) %}';
			html += '	  {% if (not products.next.special) %}';
			html += '		<span>{{ products.next.price }}</span>';
			html += '	  {% else %}';
			html += '		<span class="price-old"><span>{{ products.next.price }}</span></span> <span class="price-new"><span>{{ products.next.special }}</span></span>';
			html += '	  {% endif %}';
			html += '	{% endif %}';
			html += '</div>';
			return html;
		}
	}).data('bs.popover').tip().addClass('popover-next-prod');
	{% endif %}
	</script>
</div>
