<footer class="{% if (footer_theme_mode is defined and (footer_theme_mode == 1)) %}ls-dark-theme{% else %}ls-light-theme{% endif %}">
{% if (banner_items_footers is not empty) %}
<div class="box-banner-container">
<div class="container">
<div class="row banner-footer">
	{% for banner_items_footer in banner_items_footers %}
	<div class="col-xs-6 col-sm-6 col-md-2">
		<div class="block-banner-footer {% if ((banner_items_footer['popup'] == '1') and (banner_items_footer['link']) or (banner_items_footer['popup'] == '0') and (banner_items_footer['link'])) %}is_a_link{% endif %}" {% if ((banner_items_footer['popup'] == '1') and (banner_items_footer['link'])) %} onclick="banner_link_open('{{ banner_items_footer['link']}}')"{% elseif ((banner_items_footer['popup'] == '0') and (banner_items_footer['link'])) %}onclick="location='{{ banner_items_footer['link'] }}'" {% endif %}>
			{% if (banner_items_footer['icon_type'] == 0) %}
			<div class="icon-banner-footer">
				<span><i class="{{ banner_items_footer['icon_image']}}"></i></span>
			</div>
			{% else %}
			<div class="image-banner-footer">
				<img loading="lazy" width="50" height="50" src="{{ banner_items_footer['image'] }}" alt="{{ banner_items_footer['title'][lang_id] }}">
			</div>
			{% endif %}
			<div class="text-footer-banner">
				<div class="banner-title-footer">{{ banner_items_footer['title'][lang_id] }}</div>
				<div class="banner-description-footer">{{ banner_items_footer['description'][lang_id] }}</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>
</div>
{% endif %}
{% if (config_on_off_footer_ribbon == '1') %}
	<div class="container pos-rel">
		<div class="footer-ribbon-box">
			<div class="footer-ribbon">
				<span>{{ config_footer_ribbon[lang_id]['config_footer_ribbon']}}</span>
			</div>
		</div>
	</div>
{% endif %}
<div class="footer-top">

				<div class="container">   
					<div class="row">   
						<div class="col-xs-12 col-sm-12">   
							<div class="newsletter">   
								<div class="icon-newsletter">
									<svg width="76" height="52" viewBox="0 0 76 52" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="0.75" y="1.02686" width="74.5" height="49.9462" rx="5.25" stroke="white" stroke-width="1.5"/>
									<path d="M2 3.70605L34.4078 20.1026C36.6797 21.252 39.3631 21.2514 41.6345 20.1008L74 3.70605" stroke="white" stroke-width="1.5"/>
									</svg>
								</div>
								<div class="title-nl">{{ text_subcribe }}</div>
								<div class="input-group">
									<input type="text" class="form-control" id="input-newsletter" placeholder="{{ text_placeholder_subcribe }}" value="" >
									<span class="input-group-btn igb-nl">
										<button id="subcribe" class="btn btn-newsletter" type="button"><span class=text-btn>{{ text_btn_subcribe }}</span></button>
									</span>
								</div>
								<span id="error-msg"></span>		
							</div>
						</div>
					</div>
				</div>
				
<div class="container">
	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 footer-contact">
		<ul class="list-unstyled">
		{% if (phones_footer) %}
			{% for phone_footer in phones_footer %}
				{% if (phone_footer['type'] is not empty) %}
					<li><a {{ phone_footer['type'] }}>{% if (phone_footer['icon_footer_phone'] is not empty) %}<i class="{{ phone_footer['icon_footer_phone'] }} fa-width"></i> {% endif %} {{ phone_footer['phone_footer'] }}</a></li>
				{% else %}
					<li>{% if (phone_footer['icon_footer_phone'] is not empty) %}<i class="{{ phone_footer['icon_footer_phone'] }} fa-width"></i> {% endif %} {{ phone_footer['phone_footer'] }}</li>
				{% endif %}
			{% endfor %}
		{% endif %}
		</ul>

		{% if (social_footer) %}
		<div class="socials">
		<ul class="list-unstyled">
			<li>
			{% for rsf in social_footer %}
				<a {% if (rsf['social_icon_footer'] is not empty) %} class="sficon" onmouseout="this.style.background=''" onMouseOver="this.style.background='{{ rsf['bg_hover_icon'] }}'" {% endif %} target="_blank" href="{% if (rsf['social_link_footer']) %}{{ rsf['social_link_footer'] }}{% else %}javascript:void(0);{% endif %}">
				{% if (rsf['social_icon_footer'] is not empty) %}
					<i class="{{ rsf['social_icon_footer'] }}"></i>
				{% else %}
					<img loading="lazy" width="25" height="25" src="{{ rsf['ifs'] }}" alt="">
				{% endif %}
				 </a>
			{% endfor %}
			</li>
		</ul>
		</div>
		{% endif %}
		{% if (config_payments_footer) %}
		<ul class="list-unstyled">
			<li>
				{% for config_payments_footer in config_payments_array_footer %}
					<a target="_blank" href="{% if (config_payments_footer['payments_link_footer']) %}//{{ config_payments_footer['payments_link_footer']}}{% else %}javascript:void(0);{% endif %}"><img src="{{ config_payments_footer['icon_footer_payments'] }}" alt="" title=""></a>
				{% endfor %}
			</li>
		</ul>
		{% endif %}
		{% if (ns_logo_footer is not empty) %}
		<div id="logo-footer">
			  <img src="{{ ns_logo_footer }}" alt="" class="img-responsive">
		</div>
		{% endif %}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 f-column">
		<div class="col-xs-12 col-sm-6">
			<div class="title-f">
				{% if (fcols['column_3'][lang_id]['icon_image'] is defined and (fcols['column_3'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_3'][lang_id]['icon_image'] }}"></i> {% endif %}
				{{ fcols['column_3'][lang_id]['name_column'] is defined ? fcols['column_3'][lang_id]['name_column'] : '' }}
			</div>
			<ul class="list-unstyled two-c-pc">
				{% if (fcols['link_account'] is defined) %}<li><a href="{{ account }}">{{ text_account }}</a></li>{% endif %}
				{% if (fcols['link_order'] is defined) %}<li><a href="{{ order }}">{{ text_order }}</a></li>{% endif %}
				{% if (fcols['link_wishlist'] is defined) %}<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>{% endif %}
				{% if (fcols['link_newsletter'] is defined) %}<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>{% endif %}
				{% if (fcols['link_contact'] is defined) %}<li><a href="{{ contact }}">{{ text_contact }}</a></li>{% endif %}
				{% if (fcols['link_return'] is defined) %}<li><a href="{{ return }}">{{ text_return }}</a></li>{% endif %}
				{% if (footer_links) %}
					{% for result in footer_links %}
						{% if (result['column_link'] == 3) %}
							<li><a href="{{ result['link'] }}">{{ result['title'] }}</a></li>
						{% endif %}
					{% endfor %}
				{% endif %}
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="title-f">
				{% if (fcols['column_2'][lang_id]['icon_image'] is defined and (fcols['column_2'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_2'][lang_id]['icon_image'] }}"></i> {% endif %}
				{{ fcols['column_2'][lang_id]['name_column'] is defined ? fcols['column_2'][lang_id]['name_column'] : '' }}
			</div>
			<ul class="list-unstyled two-c-pc">
				{% if (fcols['link_manufacturer'] is defined) %}<li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>{% endif %}
				{% if (fcols['link_voucher'] is defined) %}<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>{% endif %}
				{% if (fcols['link_affiliate'] is defined) %}<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>{% endif %}
				{% if (fcols['link_special'] is defined) %}<li><a href="{{ special }}">{{ text_special }}</a></li>{% endif %}
				{% if (fcols['link_sitemap'] is defined) %}<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>{% endif %}
				{% if (footer_links) %}
					{% for result in footer_links %}
						{% if (result['column_link'] == 2) %}
							<li><a href="{{ result['link'] }}">{{ result['title'] }}</a></li>
						{% endif %}
					{% endfor %}
				{% endif %}
			</ul>
		</div>
		{% if (informations) %}
		<div class="col-xs-12 col-sm-6">
			<div class="title-f">{% if (fcols['column_1'][lang_id]['icon_image'] is defined and (fcols['column_1'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_1'][lang_id]['icon_image'] }}"></i> {% endif %}
				{{ fcols['column_1'][lang_id]['name_column'] is defined ? fcols['column_1'][lang_id]['name_column'] : '' }}
			</div>
			<ul class="list-unstyled two-c-pc">
				{% for information in informations %}
					<li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% if (footer_links) %}
		<div class="col-xs-12 col-sm-6">
			<div class="title-f">
				{% if (fcols['column_4'][lang_id]['icon_image'] is defined and (fcols['column_4'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_4'][lang_id]['icon_image'] }}"></i> {% endif %}
				{{ fcols['column_4'][lang_id]['name_column'] is defined ? fcols['column_4'][lang_id]['name_column'] : '' }}
			</div>
			<ul class="list-unstyled two-c-pc">
				{% if (footer_links) %}
					{% for result in footer_links %}
						{% if (result['column_link'] == 4) %}
							<li><a href="{{ result['link'] }}">{{ result['title'] }}</a></li>
						{% endif %}
					{% endfor %}
				{% endif %}
			</ul>
		</div>
		{% endif %}
	</div>
	</div>
  </div>
  {% if ((footer_desc_status) or (footer_map_status != 'off')) %}
  <div class="container">
	<div class="row">
	  {% if (footer_desc_status == 1) %}
		<div class="col-xs-12 {% if (footer_map_status == 'off') %}col-md-12{% else %}col-md-6{% endif %}">
		 <div class="title-f">{{ about_us }}</div>
		  <div class="description_store_footer">{{ description_store_footer }}</div>
		</div>
	  {% endif %}
	  {% if (footer_map_status != 'off') %}
	  <div class="{% if (footer_desc_status) %}col-md-6{% else %}col-md-12{% endif %}">
	  {% if (footer_map_status == 'codemap') %}{{ code_map }}{% endif %}
	  {% if (footer_map_status == 'gmap') %}
	  <div id="gmap_footer"></div>
	  <script src="//maps.google.com/maps/api/js?key={{ google_api_map_key }}"></script>
	  <script async src="catalog/view/theme/luxshop/js/markerclusterer.js"></script>
	  <script async src="catalog/view/theme/luxshop/js/FullScreenControl.js"></script>
	  <script>
	  function initialize() {
		var myLatlng = new google.maps.LatLng({{ center_google_map }});
		var myOptions = {
		  zoom: {{ zoom_google_map }},
		  center: myLatlng,
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("gmap_footer"), myOptions);
		map.controls[google.maps.ControlPosition.TOP_RIGHT].push(FullScreenControl(map, '<span class="open-full-screen">{{ gmap_full_screen }}</span>','<span class="normal-screen">{{ gmap_normal_screen }}</span>'));
		var markers = [];
		myPlaces = [];
		{% for gmap_new in gmap_setting %}
		  myPlaces.push(new Place('{{ gmap_new.onelinetext[lang_id] }}', {{ gmap_new['latlong'] }}, '{{ gmap_new.maptext[lang_id] }}'));'));
		{% endfor %}
	  for (var i = 0, n = myPlaces.length; i < n; i++) {
		var marker = new google.maps.Marker({
		  position: new google.maps.LatLng(myPlaces[i].latitude, myPlaces[i].longitude),
		  map: map,
		title: myPlaces[i].name
	  });
		//Добавим попап, который будет появляться при клике на маркер
		  var infowindow = new google.maps.InfoWindow({
			  content: '<div class="title_popap_marker">' + myPlaces[i].name + '</div><div class="description_popap_marker">' + myPlaces[i].description + '</div>'
		  });
		  //привязываем попап к маркеру на карте
		  makeInfoWindowEvent(map, infowindow, marker);

	  markers.push(marker);

		  }
	  markerClusterer = new MarkerClusterer(map, markers, {
		maxZoom: 14,
		gridSize: 50,
		styles: null
	  });


	  }
	  function makeInfoWindowEvent(map, infowindow, marker) {
		  google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(map, marker);
		  });
	  }
	  function Place(name, latitude, longitude, description){
		  this.name = name;
		  this.latitude = latitude;
		  this.longitude = longitude;
		  this.description = description;
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
	  </script>
	  {% endif %}
	  </div>
	  {% endif %}
	</div>
  </div>
  {% endif %}
<div class="container copyright">
	<div class="row">
		<div class="col-sm-12">
			<p>{{ powered_new }}</p>
	   </div>
		{{ config_ns_footer_counters }}
	</div>
</div>
</div>
</footer>

                <script>
                    
                     function validateEmail($email) {
                        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                        return emailReg.test( $email );
                      }

                    $(document).ready(function(){
                        $('#subcribe').click(function(){
                            var email = $('#input-newsletter').val();
                            
                            if(email == ''){
                                var error = '{{ text_empty_email }}';
                            }
                            
                            if( !validateEmail(email)) {
                                var error = '{{ text_validate_email }}';
                            }
                            
                            if(error != null){
                                $('#error-msg').html('');
                                $('#error-msg').append('<b style=\"color:red\">' + error + '</b>');
                            } else {
                              
                                var dataString = 'email='+ email;
                                $.ajax({
                                    url: 'index.php?route=common/footer/addToNewsletter',
                                    type: 'post',
                                    data: dataString,
									dataType: 'json',
                                    success: function(json) {
										if (json['warning']) {
											$('#error-msg').empty('');
											$('#input-newsletter').val('');	
											$('#error-msg').append('<b style=\"color:green\">' + json['warning'] + '</b>');
										}
										if (json['success']) {
											$('#error-msg').empty('');
											$('#input-newsletter').val('');											
											$('#error-msg').append('<b style=\"color:green\">' + json['success'] + '</b>');
										}
										
                                    }
                                    
                                });
                            }
                            
                        })
                    });
                </script>
                

{% if (fb_widget['status'] is defined and fb_widget['status'] == 1) %} 
	<div id="cs-fb-widget" class="position_{{ fb_widget['position'] }} display_type_{{ fb_widget['display_type'] }} {% if (fm_fix_bottom is defined and (fm_fix_bottom == 1)) %}fm-b{% else %}fm-t{% endif %}">
	{% if (fb_widget['items'] is not empty) %} 
		<div class="feedback_widget_button">
			<div class="widget-icon">
				<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 15.3516C0 17.0312 0.478516 18.6133 1.43555 20.0977C2.39258 21.582 3.67188 22.793 5.27344 23.7305C5.19531 24.0039 5.10742 24.3555 5.00977 24.7852C4.91211 25.2148 4.77539 25.8887 4.59961 26.8066C4.42383 27.7246 4.35547 28.4863 4.39453 29.0918C4.43359 29.6973 4.62891 30 4.98047 30C6.15234 30 7.33398 29.6875 8.52539 29.0625C9.7168 28.4375 10.6641 27.8125 11.3672 27.1875C12.0703 26.5625 12.4414 26.25 12.4805 26.25C14.6289 26.25 16.7188 25.8398 18.75 25.0195C18.5156 24.9414 18.0762 24.707 17.4316 24.3164C16.7871 23.9258 16.3867 23.7305 16.2305 23.7305H12.4805C11.7773 23.7305 11.0352 24.1211 10.2539 24.9023C9.16016 25.8789 8.125 26.582 7.14844 27.0117L7.5 22.5L6.50391 21.6211C3.84766 19.9023 2.51953 17.8125 2.51953 15.3516C2.51953 14.7266 2.63672 14.0234 2.87109 13.2422C2.71484 13.0078 2.60742 12.6465 2.54883 12.1582C2.49023 11.6699 2.46094 11.2305 2.46094 10.8398V9.49219L2.51953 8.73047C0.839844 10.5273 0 12.7344 0 15.3516ZM17.5195 0C14.043 0 11.084 1.01562 8.64258 3.04688C6.20117 5.07812 4.98047 7.51953 4.98047 10.3711C4.98047 13.1836 6.19141 15.4883 8.61328 17.2852C11.0352 19.082 14.0039 19.9805 17.5195 19.9805C17.5586 19.9805 17.959 20.4004 18.7207 21.2402C19.4824 22.0801 20.4883 22.9199 21.7383 23.7598C22.9883 24.5996 24.1992 25.0195 25.3711 25.0195C25.6445 25.0195 25.8105 24.8047 25.8691 24.375C25.9277 23.9453 25.8984 23.4277 25.7812 22.8223C25.6641 22.2168 25.5273 21.6016 25.3711 20.9766C25.2148 20.3516 25.0781 19.8242 24.9609 19.3945L24.7266 18.75C26.3281 17.7734 27.6074 16.5527 28.5645 15.0879C29.5215 13.623 30 12.0508 30 10.3711C30 7.51953 28.7793 5.07812 26.3379 3.04688C23.8965 1.01562 20.957 0 17.5195 0ZM23.4961 16.6406L21.8555 17.6367L22.5 19.5117C22.5781 19.707 22.6758 20.0391 22.793 20.5078C22.9102 20.9766 23.0273 21.3477 23.1445 21.6211C22.2852 21.0352 21.2695 20.1562 20.0977 18.9844C19.1992 18.0078 18.3789 17.5195 17.6367 17.5195C14.9023 17.5195 12.5488 16.8848 10.5762 15.6152C8.60352 14.3457 7.61719 12.5977 7.61719 10.3711C7.57812 8.18359 8.52539 6.32812 10.459 4.80469C12.3926 3.28125 14.7461 2.51953 17.5195 2.51953C20.293 2.51953 22.6465 3.28125 24.5801 4.80469C26.5137 6.32812 27.4805 8.18359 27.4805 10.3711C27.4805 12.832 26.1523 14.9219 23.4961 16.6406Z" fill="white"/>
				</svg>
			</div>
			<div class="widget-close">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.76248 8L15.1375 2.6375C15.3729 2.40212 15.5051 2.08288 15.5051 1.75C15.5051 1.41713 15.3729 1.09788 15.1375 0.862503C14.9021 0.627123 14.5829 0.494888 14.25 0.494888C13.9171 0.494888 13.5979 0.627123 13.3625 0.862503L7.99998 6.2375L2.63748 0.862503C2.40211 0.627123 2.08286 0.494888 1.74998 0.494888C1.41711 0.494888 1.09786 0.627123 0.862485 0.862503C0.627105 1.09788 0.49487 1.41713 0.49487 1.75C0.49487 2.08288 0.627105 2.40212 0.862485 2.6375L6.23748 8L0.862485 13.3625C0.745324 13.4787 0.652332 13.617 0.588871 13.7693C0.52541 13.9216 0.492737 14.085 0.492737 14.25C0.492737 14.415 0.52541 14.5784 0.588871 14.7307C0.652332 14.883 0.745324 15.0213 0.862485 15.1375C0.978688 15.2547 1.11694 15.3477 1.26926 15.4111C1.42159 15.4746 1.58497 15.5073 1.74998 15.5073C1.915 15.5073 2.07838 15.4746 2.23071 15.4111C2.38303 15.3477 2.52128 15.2547 2.63748 15.1375L7.99998 9.7625L13.3625 15.1375C13.4787 15.2547 13.6169 15.3477 13.7693 15.4111C13.9216 15.4746 14.085 15.5073 14.25 15.5073C14.415 15.5073 14.5784 15.4746 14.7307 15.4111C14.883 15.3477 15.0213 15.2547 15.1375 15.1375C15.2546 15.0213 15.3476 14.883 15.4111 14.7307C15.4746 14.5784 15.5072 14.415 15.5072 14.25C15.5072 14.085 15.4746 13.9216 15.4111 13.7693C15.3476 13.617 15.2546 13.4787 15.1375 13.3625L9.76248 8Z" fill="white"/>
				</svg>
			</div>
		</div>
		<div class="messangers-block">
			{% for result in fb_data %} 
				<a class="dflex-fb-widget-item" {{ result['fbw_type'] }}>
					<span class="fb-icon-img" {% if (fb_widget['display_type'] == 2) %}data-placement="{% if (fb_widget['position'] == 'left') %}right{% else %}left{% endif %}" data-toggle="popover" data-content="{{ result['fbw_text'] }}"{% endif %}>
						<img loading="lazy" width="40" height="40" alt="{{ result['fbw_icon'] }}" src="catalog/view/theme/luxshop/stylesheet/feedback_widget/icon/{{ result['fbw_icon'] }}.svg">
					</span>
					{% if (fb_widget['display_type'] == 1) %} 
						{{ result['fbw_text'] }}
					{% endif %} 
				</a>
			{% endfor %} 
		</div>
	{% endif %} 
	</div>
<script>
	$(document).on('click', '#cs-fb-widget .feedback_widget_button', function () {
		$('#cs-fb-widget .widget-icon').toggleClass('hide-chat-btn');
		$('#cs-fb-widget .widget-close').toggleClass('show-close-btn');
		$('#cs-fb-widget .messangers-block').toggleClass('show-m-block');
	});
$(document).on('mouseenter','.fb-icon-img', function(e){
    var $element_popover = $(this);
    e.preventDefault();
    $('.fb-icon-img').not(this).popover('destroy');
    $element_popover.popover({ container: 'body', html: true, animation:false});
    $element_popover.popover('show');
    $element_popover.popover().data('bs.popover').tip().addClass('popover-fb-widget');
}).on('mouseleave','.popover,.fb-icon-img', function(e){
   var $element_popover = $(this);
    $element_popover.popover("destroy");
});
</script>
{% endif %}
			

				{% if (agreedata is defined and agreedata['status'] != 0) %} 
				<script>
				$(function() {
				{% set delay_time = agreedata['delay_time'] is defined ? agreedata['delay_time'] : '1000' %} 
				{% if (PopupAgreecookie is not defined) %}
					setTimeout(function(){
						ShowAgree();
					}, {{ delay_time }});
				{% endif %} 
				});
				function ShowAgree() {
					$('body').prepend('<div id="messageLoadPage"></div>');
					creatOverlayLoadPage(true);
					$.ajax({
						url: 'index.php?route=extension/module/luxshop_agree_popup',
						type: 'get',
						dataType: 'html',
						success: function(data) {
							creatOverlayLoadPage(false);
							$('html body').append(data);
							$('#popup-agree').modal({
							    backdrop: 'static'
							});
						}
					});
				}

				</script>
				{% endif %}
			
<script>
function price_format(n){
	c = {{ currency['decimals'] is empty ? "0" : currency['decimals'] }};
	d = '{{ currency['decimal_point'] }}';
	t = '{{ currency['thousand_point'] }}';
	s_left = '{{ currency['symbol_left'] }}';
	s_right = '{{ currency['symbol_right'] }}';
	n = n * {{ currency['value'] }};
	i = parseInt(n = Math.abs(n).toFixed(c)) + '';
	j = ((j = i.length) > 3) ? j % 3 : 0;
	return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right;
}

$(document).on('click', '.title-f', function () {
	if($(document).width() < 768){
		$(this).toggleClass('show-info');
		$(this).next().slideToggle(100);
		$('html, body').animate({ scrollTop: $(this).offset().top - 80}, 250);
	}
});

function init(elem, options){
	elem.addClass('countdownHolder');
	$.each(['Days','Hours','Minutes','Sec'],function(i){
	var clas;
	if (this=='Days') {clas="{{ days }}";}
	if (this=='Hours') {clas="{{ hours }}";}
	if (this=='Minutes') {clas="{{ minutes }}";}
	if (this=='Sec') {clas="{{ sec }}";}
	out_timer = "";
	out_timer += '<span class="count'+this+'">';
	out_timer += '<span class="num-time">';
	out_timer += '<span class="position"><span class="digit static">0</span></span>';
	out_timer += '<span class="position"><span class="digit static">0</span></span>';
	out_timer += '</span>';
	out_timer += '<span class="time_productany">'+clas+'</span>';
	out_timer += '</span>';
	$(out_timer).appendTo(elem);
	});
}
function downloadCSSAtOnload() {
	{% for key,value_href in css_luxshop_footer %}
		var element{{ key }} = document.createElement("link");
		element{{ key }}.href = "{{ value_href }}";
		element{{ key }}.rel = "stylesheet";
		document.body.appendChild(element{{ key }});
	{% endfor %}
}

function downloadJSAtOnload() {
	{% for key,value_src in js_luxshop_footer %}
		var element{{ key }} = document.createElement("script");
		element{{ key }}.src = "{{ value_src }}";
		document.body.appendChild(element{{ key }});
	{% endfor %}
	setTimeout(function () {
		addLsTimer();
		{% if (config_additional_settings_luxshop['price_recalc'] is defined and (config_additional_settings_luxshop['price_recalc'] == '1')) %}
		$('.quantity_plus_minus > .quantity-num').each(function () {
			recalcQuantity(this, false);
		});
		{% endif %}
	},700);
}
function addLsTimer(){
	$('body .action-timer').each(function () {
		if($(this).children('.countDays').length == 0){
			if($(this).attr('data-date-end')){
				var parts_date = $(this).attr('data-date-end').split('-');
				var ts = new Date(parts_date[0], parts_date[1] - 1, parts_date[2]);
				if((new Date()) > ts){
					ts = (new Date()).getTime() + 10*24*60*60*1000;
				}
				$(this).countdown({
					timestamp	: ts,
					callback	: function(days, hours, minutes, seconds){
					var message = "";
					message += days;
					message += hours;
					message += minutes;
					message += seconds;
					$(this).html(message);
					}
				});
			}
		}
	});
}

if (window.addEventListener){
	window.addEventListener('load', function() {
		{% if (css_luxshop_footer is not empty) %}
			downloadCSSAtOnload();
		{% endif %}
		{% if (css_luxshop_footer is not empty) %}
		downloadJSAtOnload();
		{% endif %}
	});
}
</script>

{% if (callbackpro['status_animate_btn_4'] is defined) %} 
<div onclick="get_modal_callbacking();" id="animate_btn_4" class="animate_btn_4">
	<div class="ab4-circlephone"></div>
	<div class="ab4-circle-fill"></div>
	<div class="ab4-img-circle"><div class="ab4-img-circleblock"></div></div>
</div>
{% endif %}
{% if (callbackpro['status_animate_btn_3'] is defined) %} 
<div onclick="get_modal_callbacking();" id="animate_btn_3" class="animate_btn_3">
    <div class="ab3-track"></div>
    <div class="ab3-back-circle"></div>
    <div class="ab3-circle">
        <div class="ab3-handset"></div>
    </div>
</div>
{% endif %}
{% if (callbackpro['status_animate_btn_2'] is defined) %} 
<div onclick="get_modal_callbacking();" id="tcb-call">
	<div class="tcb-phone">
		<div class="tcb-phone-img"></div>
	</div>
	<div class="tcb-layout1"></div>
	<div class="tcb-layout2"></div>
	<div class="tcb-layout3"></div>
</div>
{% endif %}
{% if (callbackpro['status_animate_btn_2'] is defined) %} 
<div onclick="get_modal_callbacking();" id="tcb_call_1">
	<div class="tcb_phone_1">
		<div class="tcb_phone_img_1"></div>
	</div>
	<div class="tcb_layout_1"></div>
	<div class="tcb_layout_2"></div>
</div>
{% endif %}
		
</body></html>